.intro:first-of-type {
	font-size: 1.5em;
}

.intro {
	font-weight: 300;
	font-size: 1.25em;
}

.education p {
	margin: 0;
}

.edu-image {
	float: left;
	margin-right: 1em;
}

.well-pad {
	padding-top: 2em;
	padding-bottom: 4em;
}

.banner {
	padding-bottom: 3em;
}