.banner {
	display: flex;
}
.banner-container {
	background: white;
	z-index: 5;
	position: fixed;
	padding: 1em;
	left: 0;
	right: 0;
}

.dot {
	width: 1.2em;
	height: 1.2em;
	border: 0;
	background: #e66d31;
	position: relative;
	font: inherit;
}
.shadow.dot {
	cursor: pointer;
}
.hovertext {
	position: absolute;
	white-space: nowrap;
	left: 0;
	top: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease, visibility 0.2s ease;
}
.shadow.dot::after {
	position: absolute;
	content: '↑';
	left: 0;
	top: 0;
	width: 1.2em;
	line-height: 1.1em;
	color: white;
	opacity: 0;
	transition: opacity 0.1s ease;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
	z-index: 0;
	/* background: none; */
}
.shadow.dot:focus > .hovertext {
	opacity: 0.9;
	visibility: visible;
}
.shadow.dot:hover::after, .dot:focus::after {
	opacity: 1;
}

.banner-title {
	margin: 0;
	font-size: 1.1em;
	text-transform: uppercase;
	margin-left: 0.75em;
}

.navigation {
	margin-left: auto;
}
.nav-link {
	margin-left: 1em;
	color: inherit;
	text-decoration: none;
	display: inline-block;
	padding: 0 0.5em;
	line-height: 1.3em;
	position: relative;
}

.nav-link::before {
	content: '';
	position: absolute;
	width: 0.5em;
	height: 100%;
	background: #e66d31;
	left: -0.5em;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.1s ease;
}
.nav-link:hover::before, .nav-link:focus::before {
	transform: none;
}
.nav-link:active::before {
	transform: scaleX(0.5);
}

.current-page {
	font-weight: bold;
}
.current-page::before {
	content: none;
}
