:root {--bio-width: 20rem}

.logo,
.banner {
	line-height: 4rem;
	background: var(--accent-color);
}

.banner {
	text-align: right;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
              0 1px 10px 0 rgba(0, 0, 0, 0.12),
              0 2px 4px -1px rgba(0, 0, 0, 0.4);
	/* padding-right: 0.5em; */
	margin-bottom: 1em;
}

.logo {
	margin: 0;
	font-family: 'PT Mono', sans-serif;
	/* width: var(--bio-width); */
	/* display: inline-block; */
	/* vertical-align: top; */
}
.logo-container {
	color: inherit;
	text-align: left;
	float: left;
	padding: 0 1em;
}

.whitespace {
	opacity: 0.5;
}
.middot {
	margin: 0 0.3em;
}
.dashlast {
	margin-right: 0.5em;
}

.nav-link {
	color: inherit;
	position: relative;
	transition: transform 0.1s ease;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	padding: 0 1em;
	will-change: transform;
}
.nav-link::after {
	content: '';
	position: absolute;
	left: 0; right: 0;
	bottom: -0.2em;
	height: 0.2em;
	transition: opacity 0.1s ease;
	background: var(--text);
	opacity: 0;
	will-change: opacity;
}
.nav-link:hover {
	transform: translateY(-0.2em);
}
.nav-link:hover::after,
.nav-link-active::after {
	opacity: 1;
}

.nav-link-active::after {
	transform: translateY(-0.2em);
	transition: opacity 0.1s ease, transform 0.1s ease;
}
.nav-link-active:hover::after {
	transform: translateY(0);
}

@media (max-width: 46em) {
	.nav-list {
		overflow-y: hidden;
		overflow-x: auto;
		width: 100%;
		white-space: nowrap;
		text-align: center;
	}
}
