.logo {
	font-family: 'PT Mono', sans-serif;
	margin: 0;
	font-size: 2.5em;
}

.logo-container {
	background: var(--primary-color);
	--text: #fff;
	color: var(--text);
	text-align: center;
	display: block;
	position: relative;
	margin: 0 4em;
	padding: 1em 1em 2.5em;
}

.logo-container::before,
.logo-container::after {
	width: 0;
	height: 0;
	border-style: solid;
	content: '';
	position: absolute;
	bottom: 0;
	border-width: 0 0 0 calc(50vw - 4em);
}

.logo-container::after {
	border-top-width: 2em;
	border-color: transparent transparent transparent var(--background);
	left: 0;
}
.logo-container::before {
	border-bottom-width: 2em;
	border-color: transparent transparent var(--background) transparent;
	right: 0;
}

.whitespace {
	opacity: 0.5;
}
.middot {
	margin: 0 0.3em;
}
.dashlast {
	margin-right: 0.5em;
}

.banner {
	/* --background: #eee; */
	background: var(--background);
	/* border-bottom: 1px solid #ccc; */
}

.nav-link {
	color: inherit;
	position: relative;
	transition: transform 0.1s ease;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	padding: 0 1em;
	will-change: transform;
	margin: 0 1.5em;
}
.nav-link::after {
	content: '';
	position: absolute;
	left: 0; right: 0;
	bottom: -0.2em;
	height: 0.2em;
	transition: opacity 0.1s ease;
	background: var(--text);
	opacity: 0;
	will-change: opacity;
}
.nav-link:hover {
	transform: translateY(-0.2em);
}
.nav-link:hover::after,
.nav-link-active::after {
	opacity: 1;
}
.nav-link-active::after {
	transform: translateY(-0.2em);
	transition: opacity 0.1s ease, transform 0.1s ease;
}
.nav-link-active:hover::after {
	transform: translateY(0);
}

.nav-list {
	text-align: center;
	line-height: 3em;
	padding-top: 0.5em;
}