:root {
	--accent-color: #c7412c;
	--background: #303030;
	--text: #eee;
}

body {
	margin: 0;
	color: var(--text);
	background: var(--background);
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
}
