:root {
	--accent-color: #c7412c;
	--accent-color-fallback: #d65643;
	--background: #303030;
	--text: #eee;
}

body {
	margin: 0;
	color: var(--text);
	background: var(--background);
	font-family: 'PT Sans', sans-serif;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: transparent;
	box-sizing: content-box;
	cursor: pointer;
}