.bio.project-card {
	margin-top: 0;
}

.bio-inner {
	max-width: 14em;
	margin: 2.5em auto;
}

.bio-subtitle {
	font-size: 0.75em;
	display: block;
}

.bio-text {
	color: inherit;
}

.bio-side {
	display: inline-block;
	vertical-align: middle;
}

.bio-item,
.bio-icon-list {
	margin: 1em 0;
	padding: 0;
}

.bio-side.bio-icon {margin-right: 0.5em}

.bio-icon-list-item {
	width: 25%;
	text-align: center;
	display: inline-block;
	padding: 10px 0;
	height: 20px;
}
.bio-icon-list-item::after {
	border-radius: 50%;
	background: white;
	width: 40px; height: 40px;
	margin: auto;
}