.button-link {
	color: inherit;
	text-decoration: none;
	padding: 0.5em 1.5em;
	display: inline-block;
	z-index: 1;
}
.button-link::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	border: 1px solid currentColor;
}
.button-link::after {
	z-index: -1;
	background: var(--button);
}