---
---
body {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.contact {
	text-align: center;
	padding: 1em 0 6em;
	background: url('/images/contact/background.jpg');
	background-size: cover;
	background-position: center;
	flex: 1;
}

hr {
	max-width: 10em;
	background: black;
	border: 0;
	height: 0.1em;
	margin-bottom: 8vh;
}

.contact-links {
	flex: 2;
}
.contact-link {
	margin-bottom: 1em;
	font-size: 1.2em;
}
.contact-link::after {
	transform: scaleY(0.2);
	bottom: -0.6em;
	height: 0.4em;
	will-change: transform;
}

.contact-header {
	text-align: center;
}

.email-link {
	font-size: 1.6em;
}