body {
	margin: 0;
	font-family: Lato, sans-serif;
	color: rgba(0, 0, 0, 0.87);
	background: #f0f0f0;
}

.inner {
	max-width: 70em;
	padding: 0 1em;
	margin: 0 auto;
}

.shadow {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
	position: relative;
}
.shadow::after {
	content: '';
	position: absolute;
	/* width: 100%; */
	/* height: 100%; */
	left: 0;
	top: 0;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.85);
	opacity: 0;
	transition: opacity 0.2s ease;
	will-change: opacity;
	right: 0;
	bottom: 0;
}
.shadow:hover::after, .shadow:focus::after {
	opacity: 1;
}
.shadow:active::after {
	opacity: 0.5;
}
