.contact {
	background: #333;
	text-align: center;
	color: white;
	padding: 2em;
}

.contact-content {
	display: flex;
	justify-content: center;
	line-height: 1.6em;
}

.contact-link {
	color: inherit;
	text-decoration: none;
	margin: 0 0.5em;
	display: inline-block;
	position: relative;
}
.contact-link::after {
	position: absolute;
	content: '';
	bottom: -1em;
	left: 0;
	right: 0;
	background: #e66d31;
	height: 0.5em;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform 0.2s ease;
	will-change: transform;
}
.contact-link:hover::after, .contact-link:focus::after {
	transform: none;
}
.contact-link:active::after {
	transform: scaleY(0.5);
}

.email {
	margin-right: 2.5em;
}
.contact-icon {
	height: 1.6em;
	display: block;
}
