.banner {
	background: rgba(255,255,255,0.9);
	position: fixed;
	width: 100%;
}

.banner-padding {
	padding-top: 2.7em;
}

.footer {
	color: #343a45;
	background: #ececee;
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

body {
	position: relative;
	min-height: 100vh;
}

body::after {
	height: 5em;
	display: block;
	content: '';
}