.inner {
	max-width: 70em;
	padding: 0 1em;
	margin: 0 auto;
}

.hero {
	font-size: 1.2em;
	text-align: center;
	padding: 8em 1em 5em;
}
.hero-header {
	font-size: 2.5em;
	margin: 0;
	text-transform: uppercase;
}
.hero-sub {
	margin: 0 auto;
	color: rgba(0, 0, 0, 0.5);
	max-width: 25em;
}

.about {
	padding: 2em 0;
}
.about-content {
	display: flex;
	align-items: center;
}
.profile {
	flex: 0 0 160px;
	margin-left: 5em;
	border-radius: 50%;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.featured-projects {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 1.1em;
}
.featured-project {
	padding: 3.5em 5em;
	background-size: cover;
	position: relative;
	/* border-top: 1px solid white; */
}
.featured-project-text {
	max-width: 40em;
}
.featured-project-header {
	position: relative;
}
.featured-project-header::before {
	position: absolute;
	left: -1.15em;
	width: 0.5em;
	height: 100%;
	background: var(--block);
	content: '';
}
.project-tech {
	padding: 0;
	margin-top: -1em;
	opacity: 0.8;
}
.project-tech-item {
	display: inline-block;
}
.project-tech-item::after {
	content: '|';
	margin: 0 0.5em;
}
.project-tech-item:last-child::after {
	content: none;
}

.button-link {
	color: inherit;
	text-decoration: none;
	padding: 0.5em 1.5em;
	display: inline-block;
	margin-right: 0.5em;
	z-index: 1;
}
.button-link::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	border: 1px solid white;
}
.button-link::after {
	z-index: -1;
	background: var(--button);
}

.cta-wrap {
	text-align: center;
	margin: 1em 0;
}

.contact {
	text-align: center;
	padding: 1em 1em 6em;
}
.contact-link {
	color: inherit;
	text-decoration: none;
	padding-bottom: 2px;
	display: inline-block;
	margin-bottom: 0.6em;
	font-size: 1.2em;
	position: relative;
}
.contact-link::after {
	content: '';
	position: absolute;
	width: 100%;
	border-bottom: #e66d31 solid 2px;
	left: 0;
	transform: scaleY(0.5);
	transform-origin: top;
	transition: transform 0.1s ease;
}
.contact-link:hover::after {
	transform: none;
}
