.banner {
	padding: 2em 0;
}

.post-summary,
.banner p,
.navigation {
	margin-left: auto;
	margin-right: auto;
}

.banner p,
.navigation {
	max-width: 40em;
}

.navigation-link {
	margin: 0.75em;
}

.post-summary {
	max-width: 50em;
}