.post-head-link {
	color: inherit;
}

.post-small {
	color: #178A86;
}

.see-more {
	text-align: right;
	font-size: 1.1em;
	font-style: italic;
	display: block;
	margin-bottom: 1em;
}

.post-image {
	float: left;
	margin-right: 1em;
}

.post-with-image:nth-of-type(even) .post-image {
	float: right;
	margin-left: 1em;
	margin-right: 0;
}

.post-summary {
	clear: both;
	padding-top: 3em;
}