.project-container {
	-webkit-column-width: 22em;
	-moz-column-width: 22em;
	column-width: 22em;
	-webkit-column-gap: 2em;
	-moz-column-gap: 2em;
	column-gap: 2em;
	margin: 2em 5em;
}

.project-card {
	border-radius: 0.125em;
	overflow: hidden;
	margin: 2em auto;
	max-width: 30em;
	break-inside: avoid;
	/* border: 1px solid #c3c3c3; */
	background: #fdfdfd;
}

.detail-link {float: left;}

.main-img {
	height: auto;
	width: 100%;
	display: block;
}

.project-titles {
	padding: 1em;
}
.title {
	font-weight: normal;
	font-size: 1.5em;
	margin: 0;
	font-family: 'PT Mono';
	text-align: center;
}
.subtitle {
	font-size: 0.9em;
	opacity: 0.8;
	color: var(--accent-color);
	text-align: center;
	display: block;
}

.actions {
	padding: 0.5em;
	text-align: right;
	min-height: 2.25em;
}
.actions .icon-button {
	margin: -2px 0;
}

.supporting-text {
	margin: 1em 1em 1.5em;
}

.rotator {
	will-change: transform;
}
.rotate {
	transform: rotateZ(180deg);
}