.project-card {
	margin: 3em auto;
}

.project-main-img {
	/* height: auto; */
	width: 100%;
	display: block;
	margin-bottom: 1em;
}

.project-title {
	text-align: center;
	margin-bottom: 0;
}
.project-subtitle {
	font-size: 0.9em;
	opacity: 0.8;
	color: var(--accent-color);
	text-align: center;
	margin-bottom: 0.9em;
	display: block;
}

.project-small-imgs {
	visibility: hidden;
	transform: scaleX(0);
	transform-origin: top center;
}

.project-card:nth-child(odd) > .project-gallery {
	float: right;
	margin-left: 4%;
}
.project-card:nth-child(odd) > .project-description {
	margin-left: 0;
}