body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
h1, h2, h3, h4, h5, h6, .mono {
	font-family: Menlo, Consolas, "Roboto Mono", "Courier New", monospace;
}

p {
	margin: 0 0 1em;
}
