.projects {
	font-size: 0.9em;
	/* padding: 0; */
	/* column-count: 3; */
	column-width: 21em;
	/* max-width: 78em; */
	margin-top: 1em;
}

.project {
	padding: 2em;
	margin: 0 auto 1em;
	max-width: 27em;
	background-position: center;
	display: flex;
	flex-direction: column;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

.project-logo {
	align-self: center;
	margin-bottom: 2em;
}

.project-header {
	margin: 0;
}
.project-header::before {
	left: -1em;
}
.project-text {
	margin: 0;
	/* font-style: italic; */
}
.project-tech {
	margin: 0;
}

.project-links {
	margin: 0.8em -0.2em -0.2em;
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 0.95em;
}
.button-link {
	flex: 1;
	margin: 0.2em;
	max-width: 12em;
}
