---
---
{% include base.liquid %}
<!doctype html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ base }}/css/core.css">
	<link rel="stylesheet" href="{{ base }}/css/banner.css">
	<link rel="stylesheet" href="{{ base }}/css/projects.css">
</head>
<body>
	<header class="banner-container">
		<div class="inner banner">
			<div class="dot"></div>
			<h1 class="banner-title">Tiger Oakes</h1>
			{% include navigation.liquid %}
		</div>
	</header>

	<main class="showcase inner">
		<article class="project">
			<img alt="" src="" class="project-logo">
			<div class="project-text">
				<h3 class="project-header">Project</h3>
				<p>Donec diam est, sodales vel lectus vel, aliquet efficitur tellus.</p>
			</div>
			<div class="project-links">
				<a class="project-link" href="">GitHub</a>
			</div>
		</article>

		<article class="project">
			<img alt="" src="" class="project-logo">
			<div class="project-text">
				<h3 class="project-header">Project</h3>
				<p>Donec diam est, sodales vel lectus vel, aliquet efficitur tellus.</p>
			</div>
			<div class="project-links">
				<a class="project-link" href="">Download</a>
				<a class="project-link" href="">GitHub</a>
			</div>
		</article>

		<article class="project">
			<img alt="" src="" class="project-logo">
			<div class="project-text">
				<h3 class="project-header">Project</h3>
				<p>Donec diam est, sodales vel lectus vel, aliquet efficitur tellus.</p>
			</div>
			<div class="project-links">
				<a class="project-link" href="">Details</a>
				<a class="project-link" href="">GitHub</a>
			</div>
		</article>

		<article class="project">
			<img alt="" src="" class="project-logo">
			<div class="project-text">
				<h3 class="project-header">Project</h3>
				<p>Donec diam est, sodales vel lectus vel, aliquet efficitur tellus.</p>
			</div>
			<div class="project-links">
				<a class="project-link" href="">GitHub</a>
			</div>
		</article>

		<article class="project">
			<img alt="" src="" class="project-logo">
			<div class="project-text">
				<h3 class="project-header">Project</h3>
				<p>Donec diam est, sodales vel lectus vel, aliquet efficitur tellus.</p>
			</div>
			<div class="project-links">
				<a class="project-link" href="">GitHub</a>
			</div>
		</article>
	</main>
</body>
</html>