---
title: Projects
titlesuffix: true
layout: default
main-class:
  - projects
css:
  - css/projects.css
  - css/button.css
  - css/showcase.css
---
{% assign sorted = site.portfolio | sort: 'sortorder' %}
{% for proj in sorted %}
	{% assign c = proj.color %}
	{% assign slug = proj.slug | default: proj.title | slugify %}
	{% assign images = "/images/" | append: slug | append: "/" | relative_url %}
	<article class="project{%if proj.feature %} feature{% endif %}"
		style="background-image:url({{ proj.images.background | prepend: images }});
			background-color:{{ proj.fallbackcolor }};
			--block:rgb({{c.r}},{{c.g}},{{c.b}});
			--button:rgba({{c.r}},{{c.g}},{{c.b}},0.2)"
	>
		<img
			src="{{ proj.images.logo | prepend: images }}"
			alt="{{ proj.title }}" class="project-logo"
			{% if proj.hd %}srcset="{{ images }}logo2x.png 256w, {{ images }}logo3x.png 384w, {{ images }}logo4x.png 512w"{% endif %}
			height="128" width="128"
		>
		<h2 class="project-header">
			{{ proj.title }}
		</h2>
		<p class="project-text">{{ proj.subtitle }}</p>

		<ul class="project-tech">
			{% for tech in proj.tech %}<li class="pt-item">{{ tech }}</li>{% endfor %}
		</ul>
		<div class="project-links">
			{% for hash in proj.links %}
				<a class="button-link shadow" href="{{ hash[1] }}">
					{{ hash[0] | replace: '_', ' ' }}
				</a>
			{% endfor %}
		</div>
	</article>
{% endfor %}
