@font-face {
  font-family: 'Lato';
  src: url('../font/lato/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../font/lato/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
       url('../font/lato/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Cascadia Mono';
  src: url('../font/cascadia-code/CascadiaMono-SemiBold.woff2') format('woff2'),
       url('../font/cascadia-code/CascadiaMono-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'Cascadia Mono';
  src: url('../font/cascadia-code/CascadiaMono-Variable.woff2') format('woff2-variations'),
       url('../font/cascadia-code/CascadiaMono-Variable.ttf') format('truetype-variations');
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
  text-rendering: optimizeLegibility;
}
