/* Primary colors for the site */
:root {
  --site-width: 50rem;
  --dark-text: rgb(0 0 0 / 87%);
  --light-text: rgb(255 255 255 / 87%);

  --primary-color: #e67237; /* hsl(20deg 78% 56%); */
  --theme-dark: #032030;
  --theme-light: #ebeeef;
  --light-inverted: #282929;

  --link-color: var(--primary-color);
  --font-color: var(--light-text);
  --inverse-font-color: var(--dark-text);

  /* Background colors */
  --background-color: #333;
  --light-background: #242424;
  --dark-background: #111;
  --subtle-background: rgb(220 224 228 / 10%);

  --content-background: #282929;
  --content-text: var(--theme-light);

  /* Default value for blocks next to headers */
  --block: var(--primary-color);
}

/* Light theme colors */
@media (prefers-color-scheme: light) {
  :root {
    /* --font-color: var(--dark-text);
    --inverse-font-color: var(--light-text); */
    --content-background: var(--theme-light);
    --content-text: var(--theme-dark);
  }
}
