h1, h2,
.header, .subheader {
	margin: 0; 
	line-height: 1.25em;
	font-weight: 200;
}

h1, .header {
	font-size: 2.8em;
}

h2, .subheader {
	font-size: 2.125em;
}

/* --------- */

h3, h4, h5, h6,
.title, .subtitle, .subtitle-alt, .caption {
	line-height: 1.2em;
	font-weight: 400;
	margin: 0;
}

h3, .title {
	font-size: 1.5em;
}

h4, .subtitle {
	font-size: 1.25em;
}

h5, .subtitle-alt {
	font-size: 1.125em;
}

h6, .caption {
	font-size: 0.8125em;
}