@import '../_article';
@import './_main';

.project {
  &-links {
    --link-space: 0.3em;

    grid-area: buttons;
    justify-self: center;

    font-size: 1.2em;
  }
}

@media (max-width: 36em) {
  .project .header__content {
    grid-template:
      'image' auto
      'text' auto
      'buttons' min-content
      / auto;
    justify-items: center;
  }
  .project-links {
    margin-top: 1em;

    font-size: 1em;
    text-align: center;
  }
}
