---
import { getCollection } from 'astro:content';
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListPanels from '../../components/lists/ListPanels.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { compareProjects, projectButtons } from '../../scripts/projects';

const allProjects = await getCollection('projects');
const allOtherGames = []; // await Astro.glob('./**/*.{md,mdx}');

const allPages = allProjects
  .filter((page) => page.data.categories?.includes('Games'))
  .concat(allOtherGames);
allPages.sort(compareProjects);

const projects = await Promise.all(
  allPages.map(async (page) => {
    const href = `/projects/${page.slug}/`;
    return {
      title: page.data.title,
      description: page.data.subtitle,
      href,
      accent: page.data.color,
      buttons: projectButtons(page.data.links, href),
      tags: page.data.tech,
      logo: page.data.logo,
      backgroundImage: page.data.background,
    };
  })
);
---

<html lang="en">
  <head>
    <MainHead
      title="Games"
      description="Collection of games created by Tiger Oakes."
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} />

    <ListPanels items={projects} />

    <Footer />
  </body>
</html>
