---
title: Experience | Tiger Oakes
---
<!doctype html>
<html>
<head>
	{% include head.html %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Person",
		"name": "Tiger Oakes",
		"image": "{{ site.url }}/images/profile.jpg",
		"url": "{{ site.url }}",
		"email": "mailto:tigeroakes@gmail.com",
		"telephone": "(253) 778-6251",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"additionalType": "WebSite",
			"name": "{{ site.title }}",
			"url": "{{ site.url }}"
		}
		"sameAs": [
			"https://github.com/NotWoods",
			"https://twitter.com/Not_Woods",
			"https://www.linkedin.com/in/tigeroakes",
			"https://plus.google.com/+TigerOakes"
		]
	}
	</script>
	<link rel="stylesheet" 
		href="https://fonts.googleapis.com/css?family=PT+Mono&text=Tiger%20Oakes">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
	      rel="stylesheet">
	<link href="/css/button.css" rel="stylesheet">
</head>
<body>
	<link href="/css/banner.css" rel="stylesheet">
	{% include banner.html current="Projects" %}
	<main class='project-container'>
		<p class='description'>
			I'm a student at the University of British Columbia and currently working at the Centre for Sustainable Food Systems. I've created a variety of projects, which have been featured in the Congressional App Challenge and news outlets such as the Star Advertiser, West Hawaii Today, and Hawaii Public Radio.
		</p>
		<ul class='jobs'>
			<li class='job-item'>
				
			</li>
		</ul>
		<aside class='experience-aside'>
			<div class='education'>

			</div>
			<div class='awards'>

			</div>
		</aside>
	</main>
</body>
</html>