---
title: Experience | Tiger Oakes
---
<!doctype html>
<html>
<head>
	{% include head.html %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "AboutPage",
		"name": "Experience | Tiger Oakes",
		"url": "https://tigeroakes.com/experience",
		"breadcrumb": {
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"item": {
					"@id": "https://tigeroakes.com/experience",
					"name": "Experience"
				}
			}]
		},
		"mainEntity": {
			"@type": "Person",
			"name": "Tiger Oakes",
			"url": "https://tigeroakes.com",
			"email": "mailto:tigeroakes@gmail.com",
			"telephone": "(253) 778-6251",
			"image": "/images/profile.jpg",
			"sameAs": [
				"https://github.com/NotWoods",
				"https://twitter.com/Not_Woods",
				"https://www.linkedin.com/in/tigeroakes",
				"https://plus.google.com/+TigerOakes"
			]
		}
	}
	</script>
	<link rel="stylesheet" 
		href="https://fonts.googleapis.com/css?family=PT+Mono&text=Tiger%20Oakes">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700"
	      rel="stylesheet">
	<link href="/css/button.css" rel="stylesheet">
</head>
<body>
	<link href="/css/banner.css" rel="stylesheet">
	{% include banner.html current="Projects" %}
	<main class='project-container'>
		<p class='description'>
			I'm a student at the University of British Columbia and currently working at the Centre for Sustainable Food Systems. I've created a variety of projects, which have been featured in the Congressional App Challenge and news outlets such as the Star Advertiser, West Hawaii Today, and Hawaii Public Radio.
		</p>
		<ul class='jobs'>
			{% for job in site.data.jobs %}
				{% include job-item.html data=job %}
			{% endfor %}
		</ul>
		<aside class='experience-aside'>
			<div class='education'>
				<h2 class="small-title">Education</h2>
				
				<section class="half grid">
					<h3 class="med-title">Undergraduate</h3>
					<img src="/images/experience/edu-ubc.png" alt="" class="edu-image" 
							width="58.33" height="80">
					<p>University of British Columbia</p>
					<p class="secondary-text">Computer Science - Bachelor of Science
					<br>2015 to 2020 (expected)</p>
				</section><!--
				
				--><section class="half grid">
					<h3 class="med-title">High School</h3>
					<img src="/images/experience/edu-mbta.png" alt="" class="edu-image"
							width="58.33" height="80">
					<p>Myron B. Thompson Academy</p>
					<p class="secondary-text">Graduated with Honors
					<br>2011 to 2015</p>
				</section>
			</div>
			<div class='awards'>

			</div>
		</aside>
		<section class='skills'>
			<h2 class="small-title">Skills and Services</h2>
		
			<section class="third grid">
				<h3 class="list-heading">Software</h3>
				<ul class="reset-list">
					<li>Websites</li>
					<li>Mobile apps</li>
					<li>Games</li>
				</ul>
			</section>
			
			<section class="third grid">
				<h3 class="list-heading">Languages</h3>
				<ul class="reset-list">
					<li>JavaScript</li>
					<li>Java</li>
					<li>C#</li>
					<li>Python</li>
					<li>Lua</li>
				</ul>
			</section>
			
			<section class="third grid">
				<h3 class="list-heading">Programming</h3>
				<ul class="reset-list">
					<li>Front-end development</li>
					<li>Back-end developmentJava</li>
					<li>UI / UX</li>
					<li>Optimization</li>
				</ul>
			</section>
		</section>
	</main>
</body>
</html>