---
---
{% include base.liquid %}
<!doctype html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ base }}/css/core.css">
	<link rel="stylesheet" href="{{ base }}/css/banner.css">
	<link rel="stylesheet" href="{{ base }}/css/button.css">
	<link rel="stylesheet" href="{{ base }}/css/projects.css">
	<link rel="stylesheet" href="{{ base }}/css/footer.css">
	<link rel="stylesheet" href="{{ base }}/css/home.css">
	<script type="application/ld+json">
	{% include schema.json %}
	</script>
</head>
<body>
	<header class="banner-container">
		<div class="inner banner">
			<button class="dot shadow" id="top">
				<span class="hovertext">Back to top</span>
			</button>
			{% include navigation.liquid %}
		</div>
	</header>

	<section class="hero">
		<h1 class="hero-header">Tiger Oakes</h1>
		<p class="hero-sub">
			Software Developer with 4 years of experience in functional and object-oriented programming.
		</p>
	</section>

	<section class="about">
		<div class="inner about-content">
			<div class="about-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis risus non nisi sagittis blandit. Curabitur eget lacus est. Ut et mattis lacus. Aenean a congue eros. Donec ut ipsum et velit finibus ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ornare quam sed pulvinar varius. Sed lobortis consectetur mattis. Morbi egestas orci nec sem porta dignissim. Sed tempus neque nisi, eget sollicitudin turpis tempor eu. Ut eget nisi libero. Praesent tellus tortor, viverra at lorem sit amet, egestas pellentesque est. Donec diam est, sodales vel lectus vel, aliquet efficitur tellus. Praesent accumsan, nunc sit amet scelerisque lacinia, tellus ligula lobortis nunc, id auctor sapien mi eu quam. Morbi faucibus magna viverra ante ultricies, id vehicula mi sollicitudin. Integer tellus massa, tincidunt non augue at, faucibus placerat mauris.</p>
			</div>
			<img class="profile" alt="" width="160" height="160"
				src="{{ base }}/images/profile-1x.jpg"
				srcset="{{ base }}/images/profile-2x.jpg 320w, {{ base }}/images/profile-3x.jpg 480w, {{ base }}/images/profile-4x.jpg 640w"
			>
		</div>
	</section>

	<section class="featured-projects projects">
	{% assign featured_projects = site.portfolio | where: "feature", true %}
	{% for proj in featured_projects %}
		{% assign c = proj.color %}
		<article class="project featured-project"
			style="background-image:url({{ proj.bkgimage }});
				--block:rgb({{c.r}},{{c.g}},{{c.b}});
				--button:rgba({{c.r}},{{c.g}},{{c.b}},0.2)"
		>
			<h2 class="project-header">
				{{ proj.title }}
			</h2>
			<ul class="project-tech">
				{% for tech in proj.tech %}
					<li class="project-tech-item">{{ tech }}</li>
				{% endfor %}
			</ul>
			<p class="featured-project-text">{{ proj.summary }}</p>
			{% if proj.url %}
				<a class="button-link shadow" href="{{ proj.url }}">Project details</a>
			{% endif %}
			{% if proj.link %}
				<a class="button-link shadow" href="{{ proj.link }}">View site</a>
			{% endif %}
			{% if proj.code %}
				<a class="button-link shadow" href="{{ proj.code }}">Source code</a>
			{% endif %}
		</article>
	{% endfor %}
	</section>

	<div class="cta-wrap">
		<a class="button-link cta shadow" href="{{ base }}/projects">See more projects</a>
	</div>

	<section class="contact">
		<h2>Contact</h2>
		<div class="contact-content">
			<a href="mailto:contact@tigeroakes.com" class="contact-link email">

				contact@tigeroakes.com
			</a>

			<a href="https://github.com/NotWoods" class="contact-link" title="GitHub">
				<img class="contact-icon" alt="GitHub" src="{{ base }}/images/contact/white-github.svg" width="32" height="32">
			</a>
			<a href="https://twitter.com/Not_Woods" class="contact-link" title="LinkedIn">
				<img class="contact-icon" alt="LinkedIn" src="{{ base }}/images/contact/white-linkedin.svg" width="32" height="32">
			</a><br>
			<a href="https://twitter.com/Not_Woods" class="contact-link" title="Twitter">
				<img class="contact-icon" alt="Twitter" src="{{ base }}/images/contact/white-twitter.svg" width="32" height="32">
			</a>
		</div>
		<div class="cta-wrap contact-cta">
			<a class="button-link cta shadow" href="{{ base }}/contact">Send a message</a>
		</div>
	</section>
</body>
</html>