---
title: Projects
permalink: /projects
---
<!doctype html>
<html>
<head>
	{% include head.html %}
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "CollectionPage",
		"name": "{{ page.title }}",
		"url": "{{ site.url }}{{ page.url }}",
		"breadcrumb": {
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"item": {
					"@id": "{{ site.url }}{{ page.url }}",
					"name": "Projects"
				}
			}]
		}
	}
	</script>
</head>
<body>
	<link href="/css/layout.css" rel="stylesheet" type="text/css"/>
	<link href="/css/navigation.css" rel="stylesheet" type="text/css"/>
	<link href="/css/banner.css" rel="stylesheet" type="text/css"/>
	<header class="banner">
		{% include navigation.html %}
	</header>
	
	<main id="projects" class="container">
		<link href="/css/post-summary.css" rel="stylesheet" type="text/css"/>
		{% for project in site.projects %}
			{% if project.image %}
			<article class='post-summary post-with-image'>
				<a href="{{ project.url }}" class="post-image">
					<img src="{{ project.image }}" alt="" width="435" height="245">
				</a>
			{% else %}
			<article class='post-summary'>
			{% endif %}
				<a href="{{ project.url }}" class="post-head-link">
					<h3 class="post-heading">{{ project.title }}</h3>
				</a>
				<p class="small-title post-small">{{ project.subtitle }}</p>
				<p>{{ project.summary }}</p>
			</article>
		{% endfor %}
		
		<a class="see-more" href="/projects">See more projects I've worked on</a>
	</main>
	
	{% include footer.html %}
</body>
</html>