<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- if .IsHome -}}
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title }}"
    }
    {{- else if eq . .FirstSection -}}
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title }}",
      "item": "{{ .Site.BaseURL }}"
    }, {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .Title }}"
    }
    {{- else -}}
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ .Site.Title }}",
      "item": "{{ .Site.BaseURL }}"
    }, {
      "@type": "ListItem",
      "position": 2,
      "name": "{{ .FirstSection.Title }}",
      "item": "{{ .FirstSection.Permalink }}"
    }, {
      "@type": "ListItem",
      "position": 3,
      "name": "{{ .Title }}"
    }
    {{- end -}}
  ]
}
</script>
