{{ define "main" }}
    <main class="projects">
    {{ range $path := .Site.Data.showcase }}
        {{ with $.GetPage $path }}
        <article class="project{{ if .Params.feature }} feature{{ end }}" style='{{ partial "project/style.css" . | safeCSS }}'>
            {{ partial "project/image.html" . }}
            <div class="inner">
                <h2 class="project-header side-block">{{.Title}}</h2>
                <p class="project-text">{{.Params.subtitle}}</p>
                {{ partial "project/tech_list.html" .Params.tech }}
                {{ partial "project/buttons.html" .Params.links }}
            </div>
        </article>
        {{ end }}
    {{ end }}
    </main>
{{ end }}
