{{ define "head" }}
    {{ partial "meta/css.html" (resources.Get "sass/project/page.scss") }}
    {{ partial "meta/async-css.html" "sass/extra.scss" }}
    {{ partial "meta/twitter-summary.html" . }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}
{{ define "main" }}
    <article class="article">
        <header class="article__header post project hero project-text" style='{{ partial "project/style.css" . | safeCSS }}'>
            <div class="hero__content inner">
                {{ partial "project/image.html" . }}
                <div class="project-hero-text">
                    <h1 class="project-header highlight-title">{{.Title}}</h1>
                    <p class="project-text">{{.Params.subtitle}}</p>
                    {{ partial "project/tech_list.html" .Params.tech }}
                </div>

                {{ partial "project/buttons.html" (dict "links" (after 1 .Params.links) "page" .RelPermalink) }}
            </div>
        </header>

        <div class="article__body inner">
            {{ .Content }}
        </div>

        {{ partial "cta_nav.html" . }}
    </article>
{{ end }}
