@import './_utils';

$primary-color: #e66d31;

.post,
.project {
  padding: 2em;
  background: {
    color: #b7b7b7;
    size: cover;
    position: center;
  }
}

@import './_button';
@import './_text';
