@import './_utils';

$primary-color: #e66d31;
:root {
  // Primary colors for the site
  --primary-color: #{$primary-color};
  --light-color: #{lighten($primary-color, 10%)};
  --link-color: #{darken($primary-color, 12%)};
  --font-color: #{$dark-text};
  --inverse-font-color: #{$light-text};
  --background-color: #f0f0f0;
  --light-background: #fff;
  --dark-background: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: var(--light-color);
    --font-color: #{$light-text};
    --inverse-font-color: #{$dark-text};
    --background-color: #333;
    --light-background: #242424;
    --dark-background: #111;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: Lato, 'Trebuchet MS', sans-serif;
  color: var(--font-color);
  background: var(--background-color);
}

.inner {
  max-width: $site-width;
  padding: 0 1em;
  margin: 0 auto;
}

.hero-container,
.project {
  padding: 2em;
  background: {
    color: #b7b7b7;
    size: cover;
    position: center;
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  // On hover, show an underline. Only for markdown-generated classes.
  &:hover:not([class]) {
    text-decoration: underline;
  }
}

.metadata {
  margin: 0;
  padding: 0;

  opacity: 0.8;
  font-size: 0.9em;
  line-height: 1.5em;
}

@import './_button';
@import './_text';
@import './banner/_main';
