@import "./_utils";

// Elements with this class have a shadow that grows on hover
.shadow {
  position: relative;

  box-shadow: 0 1px 2px rgba(black, 0.24);

  &::after {
    content: "";
    @include fill-parent();
    box-shadow: 0 3px 10px rgba(black, 0.85);
    background: transparent;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
  &:active::after {
    opacity: 0.5;
  }
}

// Displays a small block to the left side of the title.
// h3 selector is used for markdown.
.highlight-title {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: -1em;
    width: 0.5em;
    height: 100%;

    background: var(--block);
  }
}

@import "./banner/_effects";
@import "./contact/_effects";
