@import "./_utils";

.text-container {
  padding: 1em 3em 3em;

  background: var(--light-background);
  line-height: 1.5em;
}
.text-container h2 {
  margin: 1.5em 0 .5em;
}

// Turns text white with a small drop shadow
// Should be set on .project or a container of .project elements.
.project-text {
  color: white;
  text-shadow: 1px 1px 1px rgba(black, 0.75);
}

hr {
  max-width: 10em;
  margin: 3vh auto 5vh;

  border-color: black;
}

img.center,
video.center {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;

  @media (max-width: 60em) {
    width: 100%;
  }
}
