// Primary colors for the site
$primary-color: #e66d31;
$font-color: rgba(black, 0.87);
$background-color: #f0f0f0;
$dark-background: #333;
// Content width
$site-width: 60rem;

$text-line-height: 1.5em;

// Set equal width and height
@mixin square($size) {
  width: $size;
  height: $size;
}

// Fill a relative parent element
@mixin fill-parent($width: true, $height: true) {
  position: absolute;
  @if $width {
    left: 0;
    right: 0;
  }
  @if $height {
    top: 0;
    bottom: 0;
  }
}
