@import "_utils";

.banner-container {
  position: static;
}
.banner-title {
  font-weight: 700;
  color: inherit;
}

.resume {
  box-shadow: 0 2px 4px rgba(black, 0.5);
  font-size: 10pt;
  background: white;

  max-width: 7.5in;
  padding: 0.5in;
  margin: 2em auto;
}

.resume-header {
  border-bottom: 0.01in solid $primary-color;
  font-size: 11pt;

  display: table;
  padding-bottom: 0.2in;
}
.name-container {
  display: table-cell;
}
.name {
  font-size: 28pt;
  text-transform: uppercase;
  font-weight: bold;

  margin: 0;
}
.summary {
  color: #404040;

  margin: 0;
}
.resume-contact {
  line-height: 1.4em;
  text-align: right;
  list-style: none;
  vertical-align: top;

  padding: 0;
  display: table-cell;
}

.resume-body {
  display: table;
}
.resume-left-column {
  display: table-cell;
  width: 4.1in;
  padding-right: 0.5in;
}
.resume-right-column {
  display: table-cell;
  width: 2.8in;
}

a, .right {
  color: inherit;
}
.right {
  float: right;
}

// Heading 1: Section headers
h1 {
  font: {
    weight: 400;
    size: 14pt;
  }

  margin: 0.75em 0 0;
}

// Heading 2: Job and Project titles
h2 {
  font-size: 12pt;

  margin: 0;
  clear: right;
}

// Heading 3: Company titles
h3 {
  font: {
    weight: 400;
    size: 11pt;
  }
  line-height: 1.4em;

  margin: 0;
}

// Heading 4: Dates and URLs
h4 {
  font: {
    weight: 400;
    size: 9pt;
  }
  color: $primary-color;
  line-height: 1.4em;

  margin: 0;
  position: relative;

  .work-experience &::before {
    background: $primary-color;

    position: absolute;
    left: -1cm;
    width: 0.4cm;
    height: 1.3cm;
    content: '';
  }
}

p {
  margin: 0;
}

ul {
  list-style: square;

  margin: 0 0 1em;
  padding: 0 0 0 1em;
}

// Subtitle
em {
  font: {
    weight: 400;
    size: 10pt;
  }
  color: #5a5a5a;
}

sup {
  font-size: 0.6em;
}

.tight {
  letter-spacing: -0.2pt;
}

.pdf-button {
  color: white;
  background: #cd372d;
  font-weight: bold;
  font-size: 1rem;

  padding: 0.6em 2em;

  &::after {
    will-change: opacity;
    content: '';
  }
}

@media (max-width: 6in) {
  .resume {
    padding: 0.3in;
  }
  .name-container {
    display: block;
  }
  .resume-contact {
    margin-top: 0.125in;
    display: block;
  }

  .resume-body {
    display: block;
  }
  .resume-left-column, .resume-right-column {
    display: block;
    width: auto;
    padding: 0;
  }
}

@media print {
  .banner-container, .cta-wrap, .contact {
    display: none;
  }
  .resume {
    box-shadow: none;

    padding: 0;
  }
  body {
    background: transparent;
  }
}
