---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListGridYears from '../../components/lists/ListGridYears.astro';
import PostsHeader from '../../components/lists/PostsHeader.astro';
import MainHead from '../../components/meta/MainHead.astro';
import RSS from '../../components/meta/RSS.astro';
import { loadPosts, postBanner } from '../../scripts/posts';
import * as header from './_index.md';

const allPages = await loadPosts(Astro.glob('./*/*.md'));
const posts = allPages.map((post) => ({
  title: post.frontmatter.title,
  href: new URL(post.url, Astro.canonicalURL).pathname,
  date: post.date,
  description: post.frontmatter.description,
  pictureSrc: postBanner(post),
  tags: post.frontmatter.tags,
  elsewhere: post.frontmatter.elsewhere,
}));
---

<html lang="en">
  <head>
    <MainHead title="Blog" />
    <RSS href="/posts/rss.xml" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.canonicalURL} />

    <PostsHeader links={header.frontmatter.links}>
      <header.Content></header.Content>
    </PostsHeader>
    <ListGridYears items={posts} />

    <Footer />
  </body>
</html>
