/* Hides the block then makes it grow on hover */
.block--animate::before {
  /* expects: .block */

  /* transform: scaleX(0); set in ./index.css */
  transform-origin: right;
  transition: transform 0.2s ease;
}
.block--animate:hover::before,
.block--animate:focus::before {
  transform: scaleX(1);
}
.block--animate:active::before {
  transform: scaleX(0.5);
}
