/* Displays a small block on the bottom side of the title. */
.block--bottom::before {
  /* expects: .block */

  left: 0;
  right: 0;
  top: auto;
  bottom: var(--block-offset);
  width: auto;
  height: var(--block-width);
}
