---
import Buttons, { ButtonProps } from '../Buttons.astro';

export interface Props {
  buttons?: readonly ButtonProps[];
}

const { buttons } = Astro.props as Props;
---

<div class="max-w-site mx-auto p-4 w-full">
  <slot />
  <slot name="buttons">
    <Buttons class="text-lg" {buttons} />
  </slot>
</div>
