---
import type { Temporal } from '@js-temporal/polyfill';
import BannerNav from '../BannerNav.astro';
import Footer from '../Footer.astro';
import MailingListCallToAction from '../MailingListCallToAction.astro';
import MoreButton from './MoreButton.astro';
import PostHeader from './PostHeader.astro';
import TableOfContents from './toc/TableOfContents.astro';

export interface Props {
  title: string;
  href: string | URL;
  date: Temporal.PlainDate;
  lastMod?: Temporal.PlainDate;
  description: string;
  accent?: string;
  tags?: readonly string[];
  elsewhere?: {
    name: string;
    link: string;
  };
  links?: readonly {
    href: string;
    title: string;
  }[];
  tableOfContents?: readonly {
    depth: number;
    slug: string;
    text: string;
  }[];
}

const { href, tableOfContents, ...props } = Astro.props as Props;
---

<BannerNav current={href} />

<article
  class="grid bg-slate-200 text-slate-800 dark:bg-zinc-800 dark:text-slate-200"
>
  <slot name="header">
    <PostHeader {...props} class="bg-slate-800" />
  </slot>
  {tableOfContents && <TableOfContents headers={tableOfContents} />}
  <div class="prose prose-lg dark:prose-invert max-w-site px-4 py-6">
    <slot />
  </div>
  <slot name="footer">
    <MoreButton {href} />
  </slot>
</article>

<MailingListCallToAction />
<Footer />

<style>
  article {
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: min-content auto 1fr min-content;
    grid-template-areas:
      'header header header'
      '.      toc    .     '
      '.      prose  .     '
      '.      nav    .     ';
  }
  .prose {
    grid-area: prose;
  }

  @media screen(lg) {
    article {
      grid-template-rows: min-content 1fr min-content;
      grid-template-areas:
        'header header header'
        '.      prose  toc   '
        '.      nav    .     ';
    }
  }
</style>
