---
import AccentBlock from '../AccentBlock.astro';

export const classes = 'text-2xl mb-1 relative';
---

<h2 class={classes}>
  <span>
    <AccentBlock position="left" />
    <slot />
  </span>
</h2>
