---
import sectionData from '../../data/sections.json';
import Button from '../Button.astro';

export interface Props {
  href: string | URL;
}

const { href } = Astro.props as Props;

const url = typeof href === 'string' ? href : href.pathname;
const secondSlash = url.indexOf('/', 1) + 1;
const topLevel = url.slice(0, secondSlash);
const title = sectionData.more[topLevel];
---

{
  title && (
    <footer class="article-nav flex justify-center py-8">
      <Button
        href={topLevel}
        class="basis-64 bg-gray-100 text-2xl text-slate-800 dark:bg-slate-200"
      >
        {title}
      </Button>
    </footer>
  )
}

<style>
  .article-nav {
    grid-area: nav;
  }
</style>
