---
import type { Metadata } from '@11ty/eleventy-img';
import type { ButtonProps } from '../Buttons.astro';
import ArticleDescription from './ArticleDescription.astro';
import ArticleHeaderContainer from './ArticleHeaderContainer.astro';
import ArticleTitle from './ArticleTitle.astro';
import ProjectIcon from './ProjectIcon.astro';
import Tags from './Tags.astro';

export interface Props {
  class?: string;
  accent?: string;
  logo?: Metadata;
  backgroundImage?: ImageMetadata;
  buttons?: readonly ButtonProps[];

  title: string;
  description?: string;
  tags?: readonly string[];
}

const { title, description, logo, tags, ...props } = Astro.props as Props;
---

<ArticleHeaderContainer {...props}>
  <div class="flex flex-wrap items-start gap-x-16">
    <ProjectIcon logo={logo} />
    <div class="flex-1 basis-56 pt-5 pb-4">
      <ArticleTitle>{title}</ArticleTitle>
      <ArticleDescription>{description}</ArticleDescription>
      <Tags class="text-sm" tags={tags} />
    </div>
  </div>
</ArticleHeaderContainer>
