---
import type { ButtonProps } from '../Buttons.astro';
import ArticleDescription from './ArticleDescription.astro';
import ArticleHeaderContainer from './ArticleHeaderContainer.astro';
import ArticleTitle from './ArticleTitle.astro';
import Tags from './Tags.astro';

export interface Props {
  class?: string;
  accent?: string;
  logo?: string;
  backgroundImage?: string;
  buttons?: readonly ButtonProps[];

  title: string;
  description?: string;
  tags?: readonly string[];
}

const { title, description, logo, tags, ...props } = Astro.props as Props;
---

<ArticleHeaderContainer {...props}>
  <div class="flex flex-wrap max-w-site mx-auto px-4 gap-x-16">
    <img class="grow-0 shrink-0" src={logo} alt="" width="128" height="128" />
    <div class="flex-1 pt-5">
      <ArticleTitle>{title}</ArticleTitle>
      <ArticleDescription>{description}</ArticleDescription>
      <Tags class="text-sm" {tags} />
    </div>
  </div>
</ArticleHeaderContainer>
