@import '../posts/list';

.talks {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 40rem) {
    grid-template-columns: 1fr;
  }
}

.talk {
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  flex: 2 0 auto;

  border: 1px solid currentColor;

  &__thumbnail {
    height: auto;
  }

  &__title {
    margin-bottom: 0.2em;

    font-size: 1.5em;
  }

  &__subtitle {
    margin-bottom: 0.1em;
  }
}

.button-links {
  margin: 0.8em -0.2em -0.2em;
  font-size: 0.95em;
}
.button-link {
  margin: 0.2em;
}

.metadata {
  margin-bottom: auto;
}
