.project {
	--border: #f0f0f0;
	--fill: white;
}

.project-header {
	display: flex;
	border: 0.5rem var(--border) solid;
	border-bottom: 0;
}

.project-tag, .project-time {
	border-right: 0.5rem var(--border) solid;
}
.project-tag, .project-time,
.project-title, .project-info-link {
	background: var(--fill);
	padding: 1em;
	display: flex;
	align-items: center;
}

.project-tag, .project-time {
	width: 5em;
	justify-content: center;
}

.project-title {
	padding: 0.5rem 1rem;
	flex: 1;
	margin: 0;
}

.project-info-link {
	position: relative;
	overflow: hidden;
	padding-left: 1.5rem;
	color: inherit;
	text-decoration: none;
}
.project-info-link,
.project-info-link::after {
	padding-right: 3.5rem;
	background: url('/images/info.svg') white
		no-repeat calc(100% - 1rem) center/1.5rem 1.5rem;
}

.project-info-link::before {
	content: '';
	position: absolute;
	transition: transform 0.2s ease;
	top: 0;
	bottom: 0;
	right: 3.5rem;
	width: calc(100% - 4.5rem);
	border-right: 0.5rem var(--border) solid;
	background: var(--fill);
}

.project:hover .project-info-link::before {
	transform: translateX(-100%);
}

.project-main {
	display: flex;
	border: 0.5rem var(--border) solid;
}

.project-body {
	flex: 1;
	background: var(--fill);
	border: 0 0.5rem 0.5rem var(--border) solid;
	padding: 0.5rem;
}

.project-aside {
	width: 12.5rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--fill);
	border-left: 0.5rem var(--border) solid;
}

.project-tech {
	flex: 1;
	padding: 0;
	margin: 0;
}

.project-tech::before {
	content: 'tech';
	display: block;
	width: 5em;
	background: var(--border);
	line-height: 1.4em;
	border-bottom-right-radius: 0.5rem;
}

.project-tech-item {
	display: block;
	line-height: 1.5em;
	padding: 0.15em;
	border-bottom: 0.15em var(--border) solid;
}
.project-tech-item:last-child {
	border-bottom: 0;
}

.project-link {
	border-top: 0.5rem var(--border) solid;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 3rem;
	font-size: 1.5em;
}
