@import '../../base/breakpoints.css';

/* Styles for contact footer */
.contact {
  padding: 2rem;

  text-align: center;
}

.contact__link {
  --block-width: 0.5rem;

  display: inline-block;

  margin: 1em 0.5em;
}

@media (--small-screen) {
  .contact {
    padding: 1rem;

    font-size: 0.9em;
  }
}
