<header class='banner'>
	<h1 class='banner-title'>Tiger Oakes</h1>
		
	<p>(Yes, that is my name.) I am a programmer who creates software, websites and other things that appear on screens.</p>
	
	{% if include.full %}
		
	<p>I'm a student at the University of British Columbia in Vancouver. I've created a variety of projects, which have been featured in the Congressional App Challenge and news outlets such as the Star Advertiser, West Hawaii Today, and Hawaii Public Radio.</p>
	
	{% endif %}
	
	{% if include.local %}
		<p>If you need a hand, <a href="#contact">get in touch</a></p>
		{% include navigation.html local="true" %}
	{% else %}
		<p>If you need a hand, <a href="/#contact">get in touch</a></p>
		{% include navigation.html %}
	{% endif %}
</header>