<header class='banner'>
	<a class='logo-container' href='/'>
		<h1 class='logo'>
			<span class='whitespace'>-</span><!--
		--><span class='whitespace dashlast'>-</span><!--
		-->Tiger<!--
		--><span class='whitespace middot'>·</span><!--
		-->Oakes
		</h1>
	</a>

		{% if link.title == include.active %}
	<nav class='nav-list'>
	{% for link in site.data.nav %}
			<a class='nav-link nav-link-active' 
			   href='{{ link.href }}'>
		{% else %}
			<a class='nav-link' 
			   href='{{ link.href }}'>
		{% endif %}
				{{ link.title }}
			</a>
	{% endfor %}
	</nav>
</header>