<aside class='project-card bio'><div class='bio-inner'>
			<p>
				My name is Tiger (yes, really). I am a programer who creates 
				software,	websites, and other things that appear on screens.
			</p>
			<div class='bio-item'>
				<img src='/images/link-email.svg' class='bio-icon bio-side' 
						width='24' height='24'>
				<div class='bio-side'>
					<span class='bio-subtitle'>Email</span>
					<a href='mailto:tigeroakes@gmail.com' class='bio-text'>
						tigeroakes@gmail.com
					</a>
				</div>
			</div>
			<div class='bio-item'>
				<img src='/images/link-location.svg' class='bio-icon bio-side'
						width='24' height='24'>
				<div class='bio-side'>
					<span class='bio-subtitle'>Located in</span>
					<span class='bio-text'>
						Vancouver, BC
					</span>
				</div>
			</div>
			<menu class='bio-icon-list'>
				{% include bio-icon.html href="github.com/NotWoods" 
									icon='github' title='GitHub  ·  /NotWoods' %}<!--
				-->{% include bio-icon.html href="twitter.com/Not_Woods" 
									icon='twitter' title='Twitter  ·  @Not_Woods' %}<!--
				-->{% include bio-icon.html href="linkedin.com/in/tigeroakes" 
									icon='linkedin' title='LinkedIn  ·  in/tigeroakes' %}<!--
				-->{% include bio-icon.html href="plus.google.com/+TigerOakes" 
									icon='googleplus' title='Google+  ·  +TigerOakes' %}
				</a>
			</menu>
		</div></aside>