<footer class="navigation"><div class="container">
	<a class='navigation-link-main' href='/'>
		<h1 class="navigation-header">Tiger Oakes</h1>
	</a>
	
	<a class='navigation-link' href='mailto:tigeroakes@gmail.com'>
		<img src="/images/link-email.svg" alt="Email" width="20" height="20">
	</a>
	
	<a class='navigation-link' href='https://github.com/NotWoods'>
		<img src="/images/link-github.svg" alt="GitHub" width="20" height="20">
	</a>
	
	<a class='navigation-link' href='https://twitter.com/Not_Woods'>
		<img src="/images/link-twitter.svg" alt="Twitter" width="20" height="20">
	</a>
	
	<a class='navigation-link' href='https://www.linkedin.com/in/tigeroakes'>
		<img src="/images/link-linkedin.svg" alt="LinkedIn" width="20" height="20">
	</a>
	
	<a class='navigation-link' href='https://plus.google.com/+TigerOakes'>
		<img src="/images/link-googleplus.svg" alt="GitHub" width="20" height="20">
	</a>
</div></footer>