{% include base.liquid %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
{% if page.extrafont %}
	<link href="https://fonts.googleapis.com/css?family=Lato:400i" rel="stylesheet">
{% endif %}
<title>{{ page.title }}
	{% unless include.nosuffix %}- {{ site.title }}{% endunless %}</title>
<link rel="icon" href="/favicon.png">
<meta name="theme-color" content="#e66d31">
