<nav class='navigation container loc-{{ include.location }}'>
	<a class='navigation-link-main' href='/'>
		<h1 class="navigation-header">Tiger Oakes</h1>
	</a>
	
	{% assign links = (site.data.nav | where:"location",include.location) %}
	{% for link in links %}
		<a class='navigation-link line-link' href='{{ link.href }}' 
		   data-text='{{ link.title }}'>
			{% if link.icon %}
				<img src="/images/link-{{ link.icon }}.svg" alt="{{ link.title }}" 
				     width="20" height="20">
			{% else %}
				{{ link.title }}
			{% endif %}
		</a>
	{% endfor %}
</nav>