<nav class='navigation'>
	<a class='navigation-link' href='/'>Home</a>
	{% unless include.local %}
		<a class='navigation-link' href='/projects'>Portfolio</a>
	{% else %}
		<a class='navigation-link' href='/#projects'>Portfolio</a>
	{% endunless %}
	<a class='navigation-link' href='/#experience'>Experience</a>
	<a class='navigation-link' href='/#contact'>Contact</a>
	{% unless include.local %}
		<a class='navigation-link' href='/blog'>Blog</a>
	{% else %}
		<a class='navigation-link' href='/#blog'>Blog</a>
	{% endunless %}
</nav>