{% assign color = (include.color | default: "black") %}
{% assign project = (include.data) %}
{% if project.color %}
<article class='project-card container' 
	style='--accent-color: {{ project.color }}'>
{% else %}
<article class='project-card container'>
{% endif %}
	<div class='project-gallery six columns'>
		<img alt='' class='project-main-img' src='{{ project.image }}'>
	</div>

	<div class='project-description six columns'>
		<h2 class='project-title'>{{ project.title }}</h2>
		<span class='project-subtitle'>{{ project.subtitle }}</span>

		<p class='description'>{{ project.summary }}</p>

		<div class='actions'>
			{% if project.path %}
			<a href='{{ project.path }}' class='button'>
				Details
			</a>
			{% endif %}
			{% if project.link %}
			<a href='{{ project.link }}' class='button'>
				<img src='/images/project-icon/link-{{color}}.svg' 
					alt='' width='24' height='24' class='button-icon'>
				Website
			</a>
			{% endif %}
			{% if project.code %}
			<a href='{{ project.code }}' class='button'>
				<img src='/images/project-icon/code-{{color}}.svg' 
						alt='' width='24' height='24' class='button-icon'>
					Source Code
			</a>
			{% endif %}
		</div>
	</div>
</article>