<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Not_Woods" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}" />
{{ $logo := .Resources.GetMatch "logo.svg" }}
{{ if $logo }}
<meta name="twitter:image" content="{{$logo.RelPermalink}}" />
{{ else }}
{{ $logo := .Resources.GetMatch "logo.png" }}
<meta name="twitter:image" content="{{$logo.RelPermalink}}" />
{{ end }}
