.navigation {
	line-height: 3em;
	text-align: right;
	font-size: 0.9em;
}

.navigation-link {
	transition: opacity 0.2s ease;
	opacity: 0.65;
	color: inherit;
	padding: 0 0.5em;
	height: 3em;
	/* vertical-align: top; */
}

.navigation-link:hover {
	opacity: 1;
}

.navigation-link-main {
	float: left;
	color: inherit;
	padding-right: 1em;
	/* vertical-align: top; */
	/* height: 3em; */
}

.navigation-header {
	font-size: 1.1em;
	display: inline;
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1em;
}