hr, img {
	max-width: 100%;
}
img {
	margin: auto;
	display: block;
}

.project {
	&-hero {
		color: white;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

		padding: 2em;
	}

	&-inner {
		display: flex;
	}

	&-logo {
		margin: 0 4em 0 0;
	}

	&-header {
		margin-bottom: 0.2em;
	}

	&-text, &-tech {
		margin: 0;
	}

	&-links {
		text-align: center;
		font-size: 1.2em;
	}
}
.button-link {
	margin: 0 0.3em 0.5em;
}

.project-details-wrapper {
	background: #fcfcfc;
}

@media (max-width: 36em) {
	.project-inner {
		flex-flow: column;
		align-items: center;
		margin-bottom: 1em;
	}
	.project-logo {
		margin-right: 0;
	}
}
