@import '../base/breakpoints.css';
@import '../components/header.css';
@import '../components/button/cta.css';
@import '../components/button/nav.css';

html {
  scroll-behavior: smooth;
}

.buttons {
  --link-space: 0.3em;

  justify-self: center;
  font-size: 1.2em;
}

.article {
  display: grid;
  grid-template:
    'header header header' min-content
    '. body toc' min-content
    '. nav .' min-content
    / 1fr auto 1fr;
}

.article__header {
  grid-area: header;
}

.article__toc {
  grid-area: toc;
  padding-right: 0.5rem;
}
.article__toc--inline {
  display: none;
}
.article__toc h2 {
  padding-left: 1.1rem;
  padding-right: 0.5rem;
}
.article__toc ul {
  padding-left: 1.1rem;
  list-style: none;
}
.article__toc li {
  margin-bottom: 0.1em;
}
.article__toc a {
  color: var(--link-color);
  background-image: none;
}

@media (--sidebar-hide) {
  .article {
    grid-template-areas:
      'header header header'
      '. body .'
      '. nav .';
  }
  .article__toc {
    display: none;
  }
  .article__toc--inline {
    display: block;
  }
}

.article__body {
  margin-top: -0.5rem;
  padding: 1rem 3rem 3rem;
  grid-area: body;

  background: var(--light-background);
  line-height: 1.5em;
}
.article__body h2 {
  margin: 1.5em 0 0.5em;
}

hr {
  max-width: 10em;
  margin: 3vh auto 5vh;

  border-color: black;
}

img:not([class]),
img.center,
video.center {
  display: block;
  max-width: 100%;
  height: auto;
}
img.center,
video.center {
  margin: auto;
}

code {
  padding: 0.1em 0.3em;

  background: linear-gradient(
    0deg,
    transparent 11%,
    var(--subtle-background) 0,
    var(--subtle-background)
  );
  overflow-wrap: anywhere;
}

pre {
  margin: 1em -1rem;
  position: relative;

  overflow: auto;
  white-space: pre-wrap;
}
pre code {
  display: block;
  padding: 1em;

  background: none;
}
pre code::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0.25em;

  color: var(--light-color);
  font-weight: bold;
  text-transform: uppercase;
}

blockquote {
  margin: 0 0 1em;
  padding: 0 1em;
  color: #626971;
  border-left: 0.25em solid #dfe2e5;
}

.external-link {
  display: block;
  margin: 0 -1em;
  padding: 1em;

  color: inherit;
  border: 1px solid currentColor;
}
.external-link__logo {
  float: right;
}
.external-link__title {
  margin: 0;

  font-size: 1.1em;
}
.external-link__source {
  font-size: 0.9em;
}

@media (--banner-wrap) {
  img.center,
  video.center {
    width: 100%;
  }
}
@media (--home-projects-text) {
  .article__body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
