.contact h2 {
  display: inline-block;
  padding: 0.2em 0.5em;
}

.contact__link-container {
  margin: 0;
}
.contact__link {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.email.contact__link {
  margin-top: 0;
}

.contact__link {
  --initial-block-width: 0.2;
}

.email {
  font-size: 1.6em;
}
