@import '../base/breakpoints.css';
@import '../components/hero.css';
@import '../components/header.css';

.posts {
  margin-top: 2rem;

  font-size: 1.1em;
}

.post {
  margin: 2rem 0;
  padding: 0.1rem 3rem;
}

.tag--android {
  --block: #28be6b;
}
.tag--web {
  --block: #1c7cba;
}

@media (--home-projects-text) {
  .posts {
    font-size: 0.9em;
  }
  .post {
    padding: 0.1rem 1rem;
  }
}
