@import '../components/section.css';
@import '../components/button/cta.css';
@import '../components/button/nav.css';

.button--pdf {
  --block: #cd372d;

  padding: 0.6em 2em;

  color: white !important;
  font-size: 1.1rem;
  text-shadow: rgba(0 0 0 / 75%) 1px 1px 1px;
}

.resume {
  max-width: 7.5in;
  padding: 0.5in;
  margin: 2em auto;

  page-break-before: always;
  color: var(--dark-text);
  font-size: 11pt;
  background: white;
  font-variant-ligatures: none;
}

.resume__header {
  border-bottom: 1pt solid var(--primary-color);
  margin-bottom: 8pt;
}

.section__title:first-of-type {
  margin-top: 1rem;
}

.section,
.title,
.resume-date {
  margin: 0;
}
.summary,
.resume-contact,
.pipe-list,
ul {
  margin: 0 0 8pt;
}

.name {
  margin: 0;

  font-size: 22pt;
  text-transform: uppercase;
  font-weight: bold;
}
.summary {
  font-size: 12pt;
  color: #404040;
  font-style: italic;
}

/* Heading 1: Section headers */
.section {
  /* expects: .block */
  --block-width: 0.25cm;

  font-size: 14pt;

  margin-bottom: 3pt;
  position: relative;
}
.section::before {
  top: -0.025cm;
}

/* Heading 2: Job and Project titles */
.title {
  font-size: 12pt;
}
.position {
  font-weight: normal;
}

/* Heading 4: Dates */
.resume-date {
  float: right;
  margin-left: 1em;

  font-size: 0.825em;
  font-weight: normal;
  color: var(--primary-color);
}

/* Position subtitles */
em {
  font-size: 10pt;
  color: #5a5a5a;
}

sup {
  font-size: 0.6em;
}

ul {
  list-style: square;
  line-height: 1.25em;

  margin-top: 2pt;
  padding: 0 0 0 1em;
  clear: right;
}

.education {
  margin-bottom: 12pt;
}

@media (max-width: 6in) {
  .resume {
    padding: 0.3in;
  }
}
@media print {
  .banner__wrap,
  .hide-print,
  .contact {
    display: none;
  }
  .resume {
    padding: 0;
  }
  body {
    background: transparent;
  }
}
