.tag__parent {
  opacity: 0.7;
  color: inherit;
  text-shadow: none;
}

.tags__list-item {
  display: block;
}

.header__text {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
