@import '../base/breakpoints.css';
@import '../components/card/list.css';
@import '../components/card/picture.css';
@import '../components/header.css';
@import '../components/section.css';

.about {
  --accent: var(--primary-color);

  font-size: 1.2em;
  background: none;
  color: inherit;
}
.about .buttons {
  color: var(--theme-dark);
  text-shadow: none;
}
.about .button::selection {
  background-color: var(--theme-dark);
  color: var(--primary-color);
}

.talks {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.talk {
  padding: 0;

  background: none;
  color: inherit;
  text-shadow: inherit;
}
.talk .tags {
  margin-top: auto;
  margin-bottom: 0;
}

.card__description {
  margin-top: 0;
}

.external-link {
  margin-left: 0.25em;
  opacity: 0.7;
}

@media (--banner-wrap) {
  .talks {
    grid-template-columns: 1fr;
  }
}
