@import '../base/breakpoints.css';
@import '../components/card/list.css';
@import '../components/hero.css';
@import '../components/header.css';

.talks {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}

.talk {
  background: #333;
  border: 1px solid currentColor;
}

@media (--banner-wrap) {
  .talks {
    grid-template-columns: 1fr;
  }
}
