@import "_utils";

.button-link {
	color: inherit;

	padding: 0.5em 1.5em;
	display: inline-block;
	z-index: 1;
	position: relative;

	&::before {
		border: 1px solid;

		@extend %fill-parent;
		content: '';
	}

	&::after {
		background: #000;
		background: var(--block);
		opacity: 0;

		content: '';
		z-index: -1;
	}

	&:hover::after {
		opacity: 1;
	}
}

.cta {
	margin: 1em 0;

	&-wrap {
		text-align: center;
		font-size: 1.25em;

		padding: 1em 0;
	}

	&-wrap &::after { will-change: opacity; }
}
