.projects {
	color: white;
	text-shadow: 1px 1px 1px rgba(black, 0.5);
}
.project {
	$edge: #333;
	$mid: #424242;
	background: {
		size: cover;
		position: center;
		color: $edge;
		image: linear-gradient(to bottom, $edge 0%, $mid 25%, $mid 75%, $edge 100%);
	}

	&:hover .button-link::after { will-change: opacity; }
}
.project-header {
	position: relative;

	&::before {
		background: var(--block);
	}
}

.project-tech {
	opacity: 0.8;
	font-size: 0.9em;
	line-height: 1.5em;

	padding: 0;
	margin-top: -1.1em;
}
.pt-item {
	display: inline;

	&::after {
		content: ' | ';
		margin: 0 0.2em;
	}

	&:last-child::after {
		content: none;
	}
}
