---
export interface Props {
  title?: string;
}

const { title = 'Code demo' } = Astro.props as Props;
---

<html lang="en">
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h4>{title}</h4>
    <main>
      <p class="mt-0">
        Drag the corner of the frame to see the count increase.
      </p>
      <slot />
      <p class="m-0">
        iframe dimensions: <span id="windowDimensions">0x0</span>
      </p>
    </main>
  </body>

  <style>
    html,
    body {
      @apply h-full;
    }
    body {
      @apply m-0 bg-slate-800 text-slate-200 font-sans flex flex-col relative;
    }
    body::after {
      content: '';
      display: block;
      @apply absolute bottom-0 right-0 border-8 border-orange-500 border-solid;
      border-top-color: transparent;
      border-left-color: transparent;
    }
    h4 {
      @apply m-0 px-4 font-mono font-semibold text-lg leading-8;
    }
    main {
      @apply bg-slate-200 text-slate-800 mx-4 mb-4 grow p-4;
    }
    p:first-child {
      @apply mt-0;
    }
    p:last-child {
      @apply m-0;
    }
  </style>

  <script>
    const windowDimensions = document.getElementById('windowDimensions');

    function updateWindowDimensions() {
      windowDimensions.textContent = `${window.innerWidth}x${window.innerHeight}`;
    }

    window.addEventListener('resize', updateWindowDimensions);
    updateWindowDimensions();
  </script>
</html>
