---
import IframeDemo from './_IframeDemo.astro';
---

<IframeDemo title="Resize event count">
  <p>
    resize handler executed: <span id="resizeCount">0</span> times (<span
      id="lastTime">1.0</span
    >ms since previous execution)
  </p>
</IframeDemo>

<style>
  p {
    @apply m-0;
  }
</style>

<script>
  const resizeCount = document.getElementById('resizeCount')!;
  const lastTime = document.getElementById('lastTime')!;

  let count = 0;
  let lastTimeMs = performance.now();

  window.addEventListener('resize', () => {
    const now = performance.now();
    count++;

    resizeCount.textContent = count.toString();
    lastTime.textContent = (now - lastTimeMs).toFixed(1);

    lastTimeMs = now;
  });
</script>
