@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: theme('colors.orange.500');
    --font-family-sans: theme('fontFamily.sans');
    --font-family-mono: theme('fontFamily.mono');
    --shadow-md: theme('boxShadow.md');
    scroll-behavior: smooth;

    --color-surface: theme('colors.slate.200');
    --color-on-surface: theme('colors.slate.800');
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-surface: theme('colors.zinc.800');
      --color-on-surface: theme('colors.slate.200');
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-semibold tracking-tight;
  }

  a {
    text-decoration-skip-ink: auto;
    text-underline-offset: 3px;
    @apply decoration-2 hover:decoration-current;
  }

  ::selection {
    @apply bg-orange-500 text-slate-800;
    text-shadow: none;
  }
  .selection-invert::selection,
  .selection-invert ::selection {
    @apply bg-slate-800 text-orange-500;
  }

  picture {
    display: block;
  }

  .safe-px-2,
  .safe-px-4,
  .safe-px-8 {
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-left: max(env(safe-area-inset-left), var(--padding-x));
    padding-right: max(env(safe-area-inset-right), var(--padding-x));
  }
  .safe-px-2 {
    --padding-x: 0.5rem;
  }
  .safe-px-4 {
    --padding-x: 1rem;
  }
  .safe-px-8 {
    --padding-x: 2rem;
  }
}

@layer components {
  .accent-block--left::before,
  .accent-block--bottom::before {
    content: '';
    @apply absolute block bg-accent;
  }

  .accent-block--left::before {
    width: 0.5em;
    left: -1em;
    @apply inset-y-0 max-h-7 origin-right;
  }
  .accent-block--left::before {
    transform: scaleX(var(--block-scale, 0));
  }

  .accent-block--bottom::before {
    height: 0.5em;
    bottom: -1em;
    @apply inset-x-0 origin-top;
  }
  .accent-block--bottom::before {
    transform: scaleY(var(--block-scale, 0));
  }

  .accent-block--left:hover,
  .accent-block--bottom:hover {
    --block-scale: 1;
  }
  .accent-block--left:active,
  .accent-block--bottom:active,
  .accent-block--left[aria-current],
  .accent-block--bottom[aria-current] {
    --block-scale: 0.5;
  }
  .accent-block--still {
    --block-scale: 0.5 !important;
  }

  @media (prefers-reduced-motion: no-preference) {
    .accent-block--left::before,
    .accent-block--bottom::before {
      @apply transition-transform;
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  }

  .grid-area-header {
    grid-area: header;
  }
}

.expressive-code {
  margin-block: 2em;
  margin-inline: -1rem;
  max-width: 100vw;
}
.expressive-code .frame::after {
  content: attr(data-lang);
  position: absolute;
  font-family: var(--font-family-mono);
  text-shadow: 0 -1px 1px var(--code-background);
  @apply bottom-3 right-4 inline-block text-xs opacity-70;
}
