@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --accent: theme('colors.orange.500');
    --block-size: 0.5em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono font-semibold;
  }

  a {
    text-decoration-skip-ink: auto;
    text-underline-offset: 3px;
    @apply decoration-2 hover:decoration-current;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
  }

  .grid-area-header {
    grid-area: header;
  }
}
