<ul class="tags">
  {{ with .Params.elsewhere }}
  <li class="tag tag--elsewhere">{{ .name }}</li>
  {{ end }}
  {{ range .Params.tags }}
  <li class="tag">
      <a class="tag__link link link--hidden" href='{{ relURL (print "/" $.Type "/tags/" . "/" | urlize) }}'>{{.}}</a>
  </li>
  {{ end }}
  {{ range .Params.projects }}
  {{ $project := $.Site.GetPage "projects" . }}
  <li class="tag tag--project">
      <a class="tag__link link link--hidden" href='{{ $project.RelPermalink }}'>{{ $project.Name }}</a>
  </li>
  {{ end }}
</ul>
