---
import BannerNav from '../../components/BannerNav.astro';
import Button from '../../components/Button.astro';
import Footer from '../../components/Footer.astro';
import SectionTitle from '../../components/lists/SectionTitle.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { Resume } from '../../components/resume/Resume';
import { loadJsonResume } from './json-resume/_load';

import * as content from './_about.md';

const jsonResume = await loadJsonResume(content.frontmatter.json_resume);
---

<html lang="en">
  <head>
    <MainHead
      title="Resume"
      description="Seasoned software developer offering 12+ years of experience building 3 web browsers, hundreds of open source projects, performant apps, and web standards."
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} class="print:hidden" />

    <section id="about" class="safe-px-4 mx-auto mt-4 max-w-site print:hidden">
      <SectionTitle>About Me</SectionTitle>
      <div class="prose prose-invert">
        <content.Content />
      </div>
    </section>

    <div class="safe-px-4 mx-auto mt-8 max-w-site print:hidden">
      <SectionTitle class="mb-4">Resume</SectionTitle>
      <div class="text-center">
        <Button
          class="inline-block bg-[#cd372d] text-xl"
          href={content.frontmatter.pdf}
        >
          PDF
        </Button>
      </div>
    </div>

    <Resume jsonResume={jsonResume} />

    <Footer class="print:hidden" />
    <style is:global>
      .resume {
        page-break-before: always;
        color: rgba(0, 0, 0, 0.9);
        font-variant-ligatures: none;
        line-height: normal;
      }
    </style>
  </body>
</html>
