---
import { type Link, projectButtons } from '../../scripts/projects';
import Buttons from '../Buttons.astro';

export interface Props {
  links: readonly Link[];
}

const { links } = Astro.props as Props;
---

<aside class="safe-px-4 mx-auto max-w-site py-4 text-lg">
  <div class="prose prose-lg prose-invert py-8">
    <slot />
  </div>
  <Buttons
    class="selection-invert mb-4 justify-center text-slate-800"
    buttons={projectButtons(links, Astro.url)}
  />
</aside>
