---
export interface Props {
  class?: string;
  id?: string;
}

export const classes = 'text-3xl border-b py-1 uppercase';

const { class: className, id } = Astro.props as Props;
---

<h2 class:list={[classes, className]} id={id}>
  <slot />
</h2>
