<article class="card talk" style='{{ partial "post/color.css" . | safeCSS }}'>
  {{- with .Resources.GetMatch (.Params.banner | default "banner.png") -}}
  {{ $srcset := slice (.Fill "376x188 Center") (.Fill "640x320 Center") (.Fill "960x480 Center") }}
  <picture class="card__picture">
    {{- with $.Resources.GetMatch (.Params.banner_svg | default "banner.svg") -}}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    {{- end -}}
    <source srcset='{{ partial "srcset" $srcset | safeHTMLAttr }}'>
    <img src="{{.RelPermalink}}" width="376" height="188" alt="" loading="lazy" class="card__source">
  </picture>
  {{- end -}}
  {{ partial "time.html" .Date }}
  <h3 class="card__title">
    <a class="block block--half block--animate" href='{{ partial "meta/rellink.xml" . }}'>
      {{- .Title -}}
      {{- if .Params.elsewhere -}}
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" class="external-link">
        <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
        <polyline points="15 3 21 3 21 9" />
        <line x1="10" y1="14" x2="21" y2="3" />
      </svg>
      {{- end -}}
    </a>
  </h3>
  <p class="card__description">{{ .Description }}</p>
  {{ partial "post/tag_list.html" . }}
</article>
