<article class="card talk" style='{{ partial "post/color.css" . | safeCSS }}'>
  {{- with .Resources.GetMatch (.Params.banner | default "banner.png") -}}
  {{ $srcset := slice (.Fill "376x188 Center") (.Fill "640x320 Center") (.Fill "960x480 Center") }}
  <picture class="card__picture">
    {{- with $.Resources.GetMatch (.Params.banner_svg | default "banner.svg") -}}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    {{- end -}}
    <source srcset='{{ partial "srcset" $srcset | safeHTMLAttr }}'>
    <img src="{{.RelPermalink}}" width="376" height="188" alt="" loading="lazy" class="card__source">
  </picture>
  {{- end -}}
  {{ partial "time.html" .Date }}
  <h3 class="card__title">
    <a class="block block--half block--animate" href='{{ partial "meta/rellink.xml" . }}'>{{.Title}}</a>
  </h3>
  <p class="card__description">{{ .Description }}</p>
  {{ partial "post/tag_list.html" . }}
</article>
