<li class="card preview" style='{{ partial "post/color.css" . | safeCSS }}'>
  {{- with .Resources.GetMatch (.Params.banner | default "") -}}
  {{ $srcset := slice (.Fill "100x50 Center") (.Fill "200x100 Center") (.Fill "400x200 Center") }}
  <picture class="card__picture">
    {{- with $.Resources.GetMatch (.Params.banner_svg | default "banner.svg") -}}
    <source srcset="{{ .RelPermalink }}" type="{{ .MediaType }}">
    {{- end -}}
    <source srcset='{{ partial "srcset" $srcset | safeHTMLAttr }}'>
    <img src="{{.RelPermalink}}" width="100" height="50" alt="" loading="lazy" class="card__source">
  </picture>
  {{- end -}}
  {{ partial "time.html" .Date }}
  <h3 class="card__title preview__title">
    <a class="block--side block--animate" href='{{ partial "meta/rellink.xml" . }}'>
      {{ .Title }}
    </a>
  </h3>
</li>
