@import "../_utils";

// Banner displayed at the top of the size
.banner {
  display: flex;
  flex-wrap: wrap;

  // Outer element for the banner
  &-container {
    padding: 1em 0;

    background: var(--light-background);
  }

  // Logo
  &-title {
    margin: 0;
    vertical-align: top;
    display: inline-block;

    text-transform: uppercase;
    font-size: 1.1em;
  }

  &:hover .dot::after {
    will-change: opacity;
  }
}

// Square dot to the side of title
// Expects .shadow class as well
.dot {
  display: inline-block;
  margin-right: 0.75rem;
  vertical-align: text-top;

  &-inner {
    display: block;
  }
}

.home-link {
  color: inherit;

  &:hover .dot::after,
  &:focus .dot::after {
    opacity: 1;
  }
}

.nav {
  margin-left: auto;
  line-height: 1.3em;

  // Requires .highlight-title class
  &-link {
    color: inherit;

    margin-left: 1em;
    display: inline-block;
    padding: 0 0.5em;

    &.current-page {
      font-weight: bold;
    }

    // Side block
    &::before {
      opacity: 0;
    }
  }
}

@media (max-width: 36em) {
  .banner {
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
  }
  .nav {
    margin: 1em 0 0;

    .nav-link {
      margin: 0;

      &::before {
        left: -0.25em;
      }
    }
  }
}
