<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {{ partial "meta/title.xml" . }}
  {{ partial "meta/canonical.html" . }}
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any">
  <link rel="icon" type="image/png" href="/favicon_x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon_x48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/favicon_x512.png" sizes="512x512">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e67237">
  <meta name="monetization" content="$ilp.uphold.com/p2WKq3nJHA8w">
  {{ partialCached "meta/loadcss.html" . }}
  {{ partialCached "meta/sw.html" . }}
  {{ partialCached "meta/postcss.html" (resources.Get "css/core.css") "css/core.css" }}
  {{ partialCached "meta/async-postcss.html" (resources.Get "css/async.css") "css/async.css" }}
  {{ block "rss" . }}
    {{ range .AlternativeOutputFormats }}
    <link rel="{{.Rel}}" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{$.Site.Title}}">
    {{ end }}
  {{ end }}
  {{ partial "seo/breadcrumb.html" . }}
  {{ partial "seo/twitter.html" . }}
  {{ partial "seo/opengraph.html" . }}
  {{ block "head" . }}

  {{ end }}
</head>
<body>
  {{ partial "banner.html" . }}

  <div>
  {{ block "main" . }}{{ end }}
  </div>
  {{ block "footer" . }}
  <footer class="contact" id="contact" role="contentinfo">
    {{ partialCached "footer.html" . }}
  </footer>
  {{ end }}

  {{ partialCached "meta/analytics" . }}
</body>
