<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{.Page.Title}} - {{.Site.Title}}{{ end }}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400i,700' rel="stylesheet" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="16x16 32x32 48x48">
    <link rel="icon" type="image/png" href="/favicon_32.png" sizes="512x512">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#e66d31">
    {{ range .AlternativeOutputFormats }}
    <link rel="{{.Rel}}" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{$.Site.Title}}">
    {{ end }}
    {{ block "head" . }}

    {{ end }}
</head>
<body>
    {{ partial "banner.html" . }}

    <div>
    {{ block "main" . }}{{ end }}
    </div>
    {{ block "footer" . }}
    <footer class="contact" id="contact" role="contentinfo">
        {{ partialCached "footer.html" . }}
    </footer>
    {{ end }}
    {{ template "_internal/google_analytics_async.html" . }}
    {{ block "end" . }}{{ end }}
</body>
