{{ define "head" }}
    {{ partial "meta/inline-postcss.html" (resources.Get "css/pages/contact.css" | resources.ExecuteAsTemplate "contact.css" .) }}
{{ end }}
{{ define "main" }}
    <main class="contact">
        {{.Content}}
        {{ with .Site.Data.contact.email }}
        <a href="{{.link}}" class="block block--bottom block--animate contact__link email">
            {{.text | markdownify}}
        </a>
        {{ end }}
        <p>{{ i18n "find_at" }}</p>
        {{ range .Site.Data.contact.social }}
        <p>
        <a href="{{.link}}" class="block block--bottom block--animate contact__link">
            {{.text | markdownify}}
        </a>
        </p>
        {{ end }}
    </main>
{{ end }}
{{ define "footer" }}<!---->{{ end }}
