{{ define "head" }}
  {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/talks.css") "css/pages/talks.css" }}
{{ end }}
{{ define "main" }}
  {{ partial "mini_hero.html" . }}

  {{ if .Params.group_by_date }}
    <main class="inner">
    {{ range .RegularPages.GroupByDate .Params.group_by_date }}
      <h2 class="section__title">{{ .Key }}</h2>
      <div class="talks">
        {{ range .Pages }}
        {{ .Render "preview/image" }}
        {{ end }}
      </div>
    {{ end }}
    </main>
  {{ else }}
    <main class="talks inner">
      {{ range .RegularPages }}
      {{ .Render "preview/image" }}
      {{ end }}
    </main>
  {{ end }}
{{ end }}
