{{ define "head" }}
    {{ partial "meta/inline-postcss.html" (resources.Get "css/pages/resume.css") }}
{{ end }}
{{ define "main" }}
    <section class="inner hide-print">
        {{ .Content }}
    </section>

    <div class="inner">
        <h2 class="section__title hide-print">Resume</h2>
    </div>

    {{/* Button linking to the PDF download of my resume. */}}
    <div class="cta__wrap hide-print">
        <a class="shadow button button--pdf" href="{{.Params.pdf}}">
            {{ i18n "pdf" }}
        </a>
    </div>

    {{ with (getJSON .Params.json_resume) }}
    <main class="resume">
        {{/* Header of the resume, including my name, summary, and contact info. */}}
        <header class="resume__header">
            <h1 class="name">{{.basics.name}}</h1>

            <p class="resume-contact pipe-list">
                <a class="resume-email" href="mailto:{{.basics.email}}">{{.basics.email}}</a> |
                {{ $phoneSlice := split .basics.phone "-" | after 1 }}
                <a class="resume-phone" href="tel:{{.basics.phone}}">{{ delimit $phoneSlice "-" }}</a> |
                <a class="resume-website" href="{{.basics.website}}">tigeroakes.com</a> |
                {{ range .basics.profiles }}
                {{- if eq .network "GitHub" -}}
                <a class="resume-github" href="{{.url}}">github.com/{{.username}}</a>
                {{- end -}}
                {{ end }}
            </p>

            <p class="summary">{{.basics.summary}}</p>
        </header>

        <div class="resume-body">
            {{ $format := "2006-01" }}
            <h2 class="block section">{{ i18n "resume_work" }}</h2>
            <div class="work-experience">
                {{ range .work }}
                <span class="resume-date">
                    {{ dateFormat $format .startDate }}
                    —
                    {{ dateFormat $format .endDate }}
                </span>
                <h3 class="title"><a href="{{.website}}" class="company link link--hidden">{{ .company }}</a>, <span class="position">{{ .position }}</span></h3>
                {{ if .summary }}
                <em>{{ .summary }}</em>
                {{ end }}
                {{ if .highlights }}
                <ul>
                    {{ range .highlights }}
                    <li>{{ markdownify . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ end }}
            </div>

            <h2 class="block section">{{ i18n "resume_projects" }}</h2>
            <div class="resume-projects">
                {{ range .projects }}
                <span class="resume-date">
                    {{ if .startDate }}
                    {{ dateFormat $format .startDate }}
                    {{ if not (eq .startDate .endDate) }}
                    —
                    {{ dateFormat $format .endDate }}
                    {{ end }}
                    {{ end }}
                </span>
                <h3 class="title">
                    {{ if .url }}
                    <a href="{{.url}}">{{ .name }}</a>
                    {{ else }}
                    <span>{{ .name }}</span>
                    {{ end }}
                </h3>
                {{ if .description }}
                <em>{{.description}}</em>
                {{ end }}
                <ul>
                    {{ range .highlights }}
                    <li>{{ markdownify . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

            <h2 class="block section">{{ i18n "resume_skills" }}</h2>
            <p class="skills pipe-list">
                {{ $len := (len .skills) }}
                {{ range $idx, $skill := .skills }}
                {{ $skill.name }}
                {{ if lt (add $idx 1) $len }} | {{ end }}
                {{ end }}
            </p>

            <h2 class="block section">{{ i18n "resume_education" }}</h2>
            <div class="education">
                {{ range .education }}
                <span class="resume-date">
                    {{ dateFormat $format .startDate }}
                    —
                    {{ dateFormat $format .endDate }}
                </span>
                <h3 class="title">
                    <span class="institution">{{.institution}}</span>,
                    <span class="position">{{.studyType}} in {{.area}}, 4<sup>th</sup> year</span>
                </h3>
                {{ end }}
            </div>

            <h2 class="block section">{{ i18n "resume_awards" }}</h2>
            <ul class="awards">
                {{ range .awards }}
                <li>{{.title}}</li>
                {{ end }}
            </ul>
        </div>
    </main>

    <script type="module">
        if (location.search.includes('edit')) {
            // Secret special editor mode
            let s = document.createElement("script");
            s.src = "./edit.js";
            s.type = "module";
            document.head.appendChild(s);
        }
    </script>
    {{ end }}
{{ end }}
