{{ define "head" }}
    {{ partial "meta/css.html" (resources.Get "sass/resume/page.scss") }}
{{ end }}
{{ define "main" }}
    {{/* Button linking to the PDF download of my resume. */}}
    <div class="cta-wrap">
        <a class="pdf-button button-link shadow" href="{{.Params.pdf}}">
            {{ i18n "pdf" }}
        </a>
    </div>

    {{ with (getJSON .Params.json_resume) }}
    <main class="resume">
        {{/* Header of the resume, including my name, summary, and contact info. */}}
        <header class="resume-header">
            <h1 class="name">{{.basics.name}}</h1>

            <p class="resume-contact pipe-list">
                <a class="resume-email" href="mailto:{{.basics.email}}">{{.basics.email}}</a> |
                {{ range .basics.profiles }}
                {{ if eq .network "GitHub" }}
                <a class="resume-github" href="{{.url}}">github.com/{{.username}}</a> |
                {{ end }}
                {{ end }}
                <span class="resume-city">{{.basics.location.city}}, {{.basics.location.region}} (US Citizen)</span>
            </p>

            <p class="summary">{{.basics.summary}}</p>
        </header>

        <div class="resume-body">
            {{ $format := "2006-01" }}
            <h1>{{ i18n "resume_work" }}</h1>
            <div class="work-experience">
                {{ range .work }}
                <h5>
                    {{ dateFormat $format .startDate }}
                    —
                    {{ dateFormat $format .endDate }}
                </h5>
                <h2><a href="{{.website}}" class="company">{{ .company }}</a>, <span class="position">{{ .position }}</span></h2>
                {{ if .summary }}
                <em>{{ .summary }}</em>
                {{ end }}
                {{ if .highlights }}
                <ul>
                    {{ range .highlights }}
                    <li>{{ markdownify . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
                {{ end }}
            </div>

            <h1>{{ i18n "resume_projects" }}</h1>
            <div class="resume-projects">
                {{ range .projects }}
                <h5>
                    {{ if .startDate }}
                    {{ dateFormat $format .startDate }}
                    {{ if not (eq .startDate .endDate) }}
                    —
                    {{ dateFormat $format .endDate }}
                    {{ end }}
                    {{ end }}
                </h5>
                <h2>
                    {{ if .url }}
                    <a href="{{.url}}">{{ .name }}</a>
                    {{ else }}
                    <span>{{ .name }}</span>
                    {{ end }}
                </h2>
                {{ if .description }}
                <em>{{.description}}</em>
                {{ end }}
                <ul>
                    {{ range .highlights }}
                    <li>{{ markdownify . }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>

            <h1>{{ i18n "resume_skills" }}</h1>
            <p class="skills pipe-list">
                {{ $len := (len .skills) }}
                {{ range $idx, $skill := .skills }}
                {{ $skill.name }}
                {{ if lt (add $idx 1) $len }} | {{ end }}
                {{ end }}
            </p>

            <h1>{{ i18n "resume_education" }}</h1>
            <div class="education">
                {{ range .education }}
                <h5>
                    {{ dateFormat $format .startDate }}
                    —
                    {{ dateFormat $format .endDate }}
                </h5>
                <h2>
                    <span class="institution">{{.institution}}</span>,
                    <span class="position">{{.studyType}} in {{.area}}, 4<sup>th</sup> year</span>
                </h2>
                {{ end }}
            </div>

            <h1>{{ i18n "resume_awards" }}</h1>
            <ul class="awards">
                {{ range .awards }}
                <li>{{.title}}</li>
                {{ end }}
            </ul>
        </div>
    </main>

    <script type="module">
        if (location.search.includes('edit')) {
            // Secret special editor mode
            let s = document.createElement("script");
            s.src = "./edit.js";
            s.type = "module";
            document.head.appendChild(s);
        }
    </script>
    {{ end }}
{{ end }}
