{{ define "head" }}
    {{ partial "meta/css.html" (resources.Get "sass/posts/single.scss") }}
    {{ $style := resources.Get "css/highlight.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    {{ partial "meta/async-css.html" "sass/extra.scss" }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}
{{ define "main" }}
    <article class="article">
        {{ $bkg := .Resources.GetMatch "background.*" }}
        <header class="header article__header hero post project-text"{{ if $bkg }} style='background-image:url({{$bkg.RelPermalink}})'{{ end }}>
            <div class="header__content inner">
                <div class="header__text">
                    <h1 class="header__title highlight-title">{{.Title}}</h1>
                    <time class="header__subtitle" datetime='{{ .PublishDate.Format "2006-01-02" }}'>
                        {{ .PublishDate.Format "2 January 2006" }}
                    </time>
                    {{ partial "project/tech_list.html" .Params.tags }}
                </div>

                {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
            </div>
        </header>

        <div class="article__body inner">
            {{ .Content }}
        </div>

        {{ partial "cta_nav.html" . }}
    </article>
{{ end }}
