{{ define "head" }}
    {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/talks.css") "css/pages/talks.css" }}
    {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/tags.css") "css/pages/tags.css" }}
{{ end }}
{{ define "main" }}
    {{ $bkg := .Resources.GetMatch "background.*" }}
    <header class="card header article__header {{ if $bkg }}card--image{{ end }}"{{ if $bkg }} style='background-image:url({{$bkg.RelPermalink}})'{{ end }}>
        <div class="header__content inner">
            <div class="header__text">
                <h1 class="block card__title tag__title">
                    <a href="{{ .FirstSection.RelPermalink }}" class="tag__parent">{{ .FirstSection.Title }} / </a>{{.Title}}
                </h1>
            </div>

            {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
        </div>
    </header>

    <main class="talks inner">
        {{ range where .FirstSection.RegularPages ".Params.tags" "intersect" (slice .Title) }}
        {{ .Render "preview/image" }}
        {{ end }}
    </main>
{{ end }}
