---
import GithubSlugger from 'github-slugger';
import MainHead from '../../components/meta/MainHead.astro';
import { loadPosts, Post } from '../../scripts/posts';
import { groupBy } from '../../scripts/group';
import CollectionLayout from '../../components/collection/CollectionLayout.astro';

export interface Props {
  tag: string;
  pages: readonly Post[];
}

export async function getStaticPaths() {
  const slugger = new GithubSlugger();
  const allPages = await loadPosts(
    Astro.glob('../{posts,projects,talks}/*/*.md')
  );
  const tagToPages = groupBy(
    allPages,
    (page) => page.frontmatter.tags ?? (page.frontmatter as any).tech ?? []
  );

  return Array.from(tagToPages).map(([tag, pages]) => {
    const props: Props = { tag, pages };
    return { props, params: { tag: slugger.slug(tag) } };
  });
}

const { tag, pages } = Astro.props as Props;

function formatPost(post: Post) {
  return {
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    date: post.date,
    tags: post.frontmatter.tags,
    href: post.url,
    pictureSrc: post.frontmatter.banner,
  };
}
---

<html lang="en">
  <head>
    <MainHead title={`${tag} | Tags`} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <CollectionLayout collection="Tags" {tag} items={pages.map(formatPost)} />
  </body>
</html>
