---
import GithubSlugger from 'github-slugger';
import CollectionLayout from '../../components/collection/CollectionLayout.astro';
import type { Item } from '../../components/lists/ListFlat.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { getCollectionPages } from '../../scripts/collection';

export interface Props {
  tag: string;
  pages: readonly Item[];
}

export async function getStaticPaths() {
  const tagToPages = await getCollectionPages(
    Astro.glob('../{posts,talks}/*/*.md'),
    Astro.glob('../projects/*/*.md')
  );

  const slugger = new GithubSlugger();
  return Array.from(tagToPages).map(([tag, pages]) => {
    const props: Props = { tag, pages };
    return { props, params: { tag: slugger.slug(tag) } };
  });
}

const { tag, pages } = Astro.props as Props;
---

<html lang="en">
  <head>
    <MainHead title={`${tag} | Tags`} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <CollectionLayout collection="Tags" {tag} items={pages} />
  </body>
</html>
