@import '../_utils';

// Styles for contact footer and page

.contact {
  padding: 2em;

  text-align: center;
}

.footer__items {
  line-height: 1.6em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact:hover .contact-link::after {
  will-change: transform;
}

.contact-icon {
  display: block;
}
