@import '../_utils';

// Styles for contact footer and page

.contact {
  padding: 2em;

  text-align: center;
}

.contact-content {
  line-height: 1.6em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact:hover .contact a::after {
  will-change: transform;
}

.email {
  margin-right: 2.5em;

  @media (max-width: 28em) {
    width: 100%;
    margin: 0 0 1.5em;
  }
}
.contact-icon {
  height: 1.6em;
  display: block;
}
