@import '../_utils';
@import '../_core';
@import '../_effects';
@import './_main';

// {{ $background := .Resources.GetMatch "background.*" }}

body {
  background: url('{{ $background.RelPermalink }}') {
    size: cover;
    position: center;
  }
}

h2 {
  display: inline-block;
  padding: 0.75em 1.5em;

  border-bottom: 0.1em solid black;
}

.contact {
  color: $dark-text;
}

.contact-link {
  font-size: 1.2em;
  margin-bottom: 0.5em;

  &:hover {
    text-decoration: none;
  }
  &::after {
    transform: scaleY(0.2);
  }
}
.email {
  font-size: 1.6em;
}
