---
import MainHead from '../../components/meta/MainHead.astro';
import { loadPosts, Post } from '../../scripts/posts';
import { groupBy } from '../../scripts/group';
import CollectionLayout from '../../components/collection/CollectionLayout.astro';

export interface Props {
  category: string;
  pages: readonly Post[];
}

export async function getStaticPaths() {
  const allPages = await loadPosts(
    Astro.glob('../{posts,projects,talks}/*/*.md')
  );
  const tagToPages = groupBy(
    allPages,
    (page) => page.frontmatter.categories ?? []
  );

  return Array.from(tagToPages).map(([category, pages]) => {
    const props: Props = { category, pages };
    return { props, params: { category: category.toLowerCase() } };
  });
}

const { category, pages } = Astro.props as Props;

function formatPost(post: Post) {
  return {
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    date: post.date,
    tags: post.frontmatter.tags,
    href: post.url,
    pictureSrc: post.frontmatter.banner,
  };
}
---

<html lang="en">
  <head>
    <MainHead title={`${category} | Categories`} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <CollectionLayout
      collection="Categories"
      tag={category}
      items={pages.map(formatPost)}
    />
  </body>
</html>
