@import './base/vars.css';
@import './classes/block/index.css';
@import './classes/block/bottom.css';
@import './classes/icon.css';
@import './classes/inner.css';
@import './classes/shadow/index.css';
@import './components/button/index.css';
@import './components/card/index.css';
@import './components/banner.css';
@import './components/footer/index.css';
@import './components/tags.css';

body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: Lato, 'Trebuchet MS', sans-serif;
  color: var(--font-color);
  background: var(--background-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
/* On hover, show an underline. Only for markdown-generated classes. */
a:hover:not([class]) {
  text-decoration: underline;
}
