@import '../base/breakpoints.css';

/* Banner displayed at the top of the site */
.banner {
  display: flex;
  flex-wrap: wrap;
}
/* Outer element for the banner */
.banner__wrap {
  padding: 1em 0;
}

.nav {
  display: grid;
  margin-left: auto;
  line-height: 1.2em;
  align-self: center;
  gap: 0.5rem 1.5rem;
  grid-template-columns: repeat(4, auto);
}

.nav__link {
  /* expects: .block.block--animate */
  --block-offset: calc(var(--block-width) * -1);

  display: inline-block;
  padding: 0.2em 0.4rem;
}
.nav__link--current {
  --initial-block-width: 0.5;
}

.logo {
  color: inherit;
  align-self: start;
}

.nav__link::before {
  transition-duration: 0s;
}
.banner:hover .nav__link::before {
  will-change: transform;
  transition-duration: 0.2s;
}

@keyframes wire {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes open {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closed {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate .text path {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: wire 1s linear forwards;
}
.animate .eye,
.animate .eye-closed {
  animation: open 0.5s steps(1, end) 2.5s both;
}
.animate .eye-closed {
  animation-name: closed;
}

@media (--banner-wrap) {
  .banner {
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
  }
  .nav {
    margin: 1rem 0 0;
  }
  .nav__link {
    margin: 0;
  }
}
@media (--small-screen) {
  .nav {
    grid-template-columns: repeat(2, auto);
  }
}
