@import '../base/breakpoints.css';

/* Banner displayed at the top of the site */
.banner {
  display: flex;
  flex-wrap: wrap;
}
/* Outer element for the banner */
.banner__wrap {
  padding: 1em 0;
}
.banner--colored .logo__icon {
  margin: -2px 0;
}

.nav {
  display: grid;
  margin-left: auto;
  line-height: 1.2em;
  align-self: center;
  gap: 0.5rem 1.5rem;
  grid-template-columns: repeat(4, auto);
}

.nav__link {
  /* expects: .block.block--animate */
  --block-offset: calc(var(--block-width) * -1);

  display: inline-block;
  padding: 0.2em 0.4rem;

  transition-duration: 0.1s;
}
.nav__link--current {
  font-weight: bold;
}

.logo {
  color: inherit;
  text-transform: uppercase;
  align-self: start;
}
.logo__icon,
.logo__title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-size: 1.1rem;
}
/* Square icon to the side of title */
.logo__icon {
  /* expects: .icon.shadow */
  margin-right: 0.75rem;

  --small-shadow: none;
  --large-shadow: 0 4px 4px rgb(0 0 0 / 30%);
}
/* Events on the logo link should affect the icon */
.logo:hover .logo__icon::after,
.logo:focus .logo__icon::after {
  opacity: 1;
}
.logo:active .logo__icon::after {
  opacity: 0.5;
}

.banner:hover .logo__icon::after {
  will-change: opacity;
}
.banner:hover .nav__link {
  will-change: transform;
}

@keyframes wire {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes open {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes closed {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.animate .text path {
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  animation: wire 1s linear forwards;
}
.animate .eye, .animate .eye-closed {
  animation: open 0.5s steps(1, end) 2.5s both;
}
.animate .eye-closed {
  animation-name: closed;
}

@media (--banner-wrap) {
  .banner {
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
  }
  .nav {
    margin: 1rem 0 0;
  }
  .nav__link {
    margin: 0;
  }
  .nav__link::before {
    left: -0.25rem;
  }
}
@media (--small-screen) {
  .nav {
    grid-template-columns: repeat(2, auto);
  }
}
