<div id="horizontal">
  <span id="child1">One</span>
  <span id="child2">Two</span>
  <span id="child3">Three</span>
</div>

<style>
  #horizontal {
    color: black;
    background: white;
    margin: auto;

    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #child1 {
    background: #bcf5b1;
    flex-grow: 1;
  }

  #child2 {
    background: #aacaff;
    align-self: flex-start;
  }

  #child3 {
    background: #e3e2ad;
  }
</style>
