---
import BannerNav from '../components/BannerNav.astro';
import Footer from '../components/Footer.astro';
import HomeNewPosts from '../components/home/HomeNewPosts.astro';
import MainHead from '../components/meta/MainHead.astro';
import RSS from '../components/meta/RSS.astro';
---

<html lang="en">
  <head>
    <MainHead title="Tiger Oakes" description="404 page" defaultSocial />
    <RSS href="/posts/rss.xml" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <div
      class="selection-invert bg-orange-500 pb-12 text-slate-800"
      style="--accent: currentColor"
    >
      <BannerNav logo="light" />
      <section class="prose prose-lg mx-auto max-w-site px-4">
        <h1 class="my-4 text-5xl">404</h1>
        <p>
          Couldn't find the page you're looking for. Check out some other posts
          below!
        </p>
      </section>
    </div>

    <HomeNewPosts />

    <Footer />
  </body>
</html>
