---
// Component Imports
import MainHead from '../components/meta/MainHead.astro';
import BannerNav from '../components/BannerNav.astro';
import Logo from '../components/Logo.astro';
import HomeContact from '../components/HomeContact.astro';
import Button from '../components/Button.astro';
import profile from './profile.jpg';
import ListFlat from '../components/lists/ListFlat.astro';
import { loadPosts, Post } from '../scripts/posts';

const allPosts = await loadPosts(Astro.glob('./posts/*/*.md'));
const featured = allPosts.filter((post) =>
  post.frontmatter.categories?.includes('Feature')
);

function formatPost(post: Post) {
  return {
    title: post.frontmatter.title,
    description: post.frontmatter.description,
    date: post.date,
    tags: post.frontmatter.tags,
    href: post.url,
    pictureSrc: post.frontmatter.banner,
  };
}
---

<html lang="en">
  <head>
    <MainHead title="Tiger Oakes" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <div
      class="bg-orange-500 text-slate-800 pb-12"
      style="--accent: currentColor"
    >
      <BannerNav logo="none" />
      <section
        id="about"
        class="max-w-site mx-auto px-4 flex flex-wrap gap-x-20 gap-y-8 items-center"
      >
        <div class="text-lg flex-1">
          <Logo outline width={320} height={64} />
          <p class="my-4 decoration-slate-200">
            Hi, I'm <span class="my-name" title="yes, that's my real name">
              Tiger</span
            >! I've worked on 3 web browsers and hundreds of open source
            projects. You can see some of those
            <a class="underline" href="/projects/">projects</a> here, read my <a
              class="underline"
              href="/posts/">blog</a
            >, or learn more <a class="underline" href="/resume/">about me</a>.
          </p>
          <p class="my-4 decoration-slate-200">
            If you'd like to get in touch or if you have questions about my
            work, don't hesitate to <a class="underline" href="#contact"
              >contact me</a
            >.
          </p>
          <Button
            class="inline-block border-2 border-current"
            href="https://buttondown.email/tiger"
            >Subscribe to my newsletter</Button
          >
        </div>
        <img
          class="border-4 border-slate-800 rounded-full grow-0 shrink-0 mx-auto"
          src={profile}
          alt="Portrait of Tiger Oakes"
          width="160"
          height="160"
        />
      </section>
    </div>

    <section id="previews" class="max-w-site mx-auto px-4 py-8">
      <ListFlat
        title="Latest posts"
        items={allPosts.slice(0, 3).map(formatPost)}
      />
      <ListFlat
        title="Popular content"
        items={featured.slice(0, 3).map(formatPost)}
      />
    </section>

    <section id="featured-projects" class="max-w-site mx-auto px-4"></section>

    <HomeContact />
  </body>
</html>
