{{ define "head" }}
    {{ partial "meta/scss.html" (resources.Get "sass/posts/list.scss") }}
    {{ partial "meta/async-scss.html" "sass/extra.scss" }}
{{ end }}
{{ define "main" }}
    <header class="header about">
        <div class="header__content header__content--with-image inner">
            {{ partial "small_profile.html" . }}
            <div class="header__text about-text">
                {{.Content}}
            </div>

            {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
        </div>
    </header>
    {{ range .Site.Author }}
        {{ . }}
    {{ end }}
    <main class="posts">
        {{ range .Pages }}
        {{ $bkg := .Resources.GetMatch "background.*" }}
        <article class="post-summary">
            <div class="inner">
                <h3 class="post-header">
                    <a class="post-header-link highlight-title" href='{{.RelPermalink}}'>{{.Title}}</a>
                </h3>
                <time datetime='{{ .PublishDate.Format "2006-01-02" }}' class="metadata">{{ .PublishDate.Format "2 January 2006" }}</time>
                <p class="post-text">{{ .Description }}</p>
            </div>
        </article>
        {{ end }}
    </main>
{{ end }}
