{{ define "head" }}
    {{ partial "meta/inline-postcss.html" (resources.Get "css/pages/posts.css") }}
{{ end }}
{{ define "main" }}
    {{ partial "mini_hero.html" . }}
    {{ $topics := slice "Android" "Web" }}

    <main class="posts">
        {{ range .RegularPages }}
        {{ $bkg := .Resources.GetMatch "background.*" }}
        {{ $tags := apply .Params.tags "lower" "." }}
        {{ if eq (index $tags 0) "til" }}
            {{ $tags = after 1 $tags }}
        {{ end }}
        <article class='post tag--{{ index $tags 0 }}'>
            <div class="inner">
                {{ partial "time.html" . }}
                <h3 class="card__title">
                    <a class="block block--animate" href='{{ partial "meta/rellink.xml" . }}'>{{.Title}}</a>
                </h3>
                <ul class="tags">
                    {{ with .Params.elsewhere }}
                    <li class="tag tag--elsewhere">{{ .name }}</li>
                    {{ end }}
                    {{ range .Params.tags }}
                    <li class="tag">
                        <a class="tag__link" href='{{ relURL (print "/" $.Type "/tags/" . | urlize) }}'>{{.}}</a>
                    </li>
                    {{ end }}
                    {{ range .Params.projects }}
                    {{ $project := $.Site.GetPage "posts" . }}
                    <li class="tag tag--project">
                        <a class="tag__link" href='{{ $project.RelPermalink }}'>{{ $project.Name }}</a>
                    </li>
                    {{ end }}
                </ul>
                <p class="card__description">{{ .Description }}</p>
            </div>
        </article>
        {{ end }}
    </main>
{{ end }}
