{{ define "head" }}
    {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/article.css") "css/pages/article.css" }}
    {{ if in .Content "<code>" }}
        {{ partialCached "meta/async-postcss.html" (resources.Get "css/highlight.css") "css/highlight.css" }}
    {{ end }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ partial "seo/blogposting.html" . }}
{{ end }}
{{ define "main" }}
    <article class="article">
        {{ $bkg := .Resources.GetMatch "background.*" }}
        <header class="card header article__header"{{ if $bkg }} style='background-image:url({{$bkg.RelPermalink}})'{{ end }}>
            <div class="header__content inner">
                <div class="header__text">
                    {{ partial "time.html" . }}
                    <h1 class="block card__title">{{.Title}}</h1>
                    {{ partial "post/tag_list.html" . }}
                </div>

                {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
            </div>
        </header>

        <div class="article__body inner">
            {{.Kind}}{{.Type}}
            {{ .Content }}
        </div>

        {{ partial "cta_nav.html" . }}
    </article>
{{ end }}
