---
title: Resume
layout: base
extrafont: true
css:
  - button
  - resume
---

{%comment%}
Button linking to the PDF download of my resume.
{%endcomment%}
<div class="cta-wrap">
  <a class="pdf-button button-link shadow" href="Tiger_Oakes_resume_-_October_2018.pdf">
    {{site.data.strings.pdf}}
  </a>
</div>

{% assign resume = site.data.resume %}
<main class="resume">
  {%comment%}
  Header of the resume, including my name, summary, and contact info.
  {%endcomment%}
  <header class="resume-header">
    <div class="name-container">
      <h1 class="name">{{resume.basics.name}}</h1>
      <p class="summary">{{resume.basics.summary}}</p>
    </div>

    <ul class="resume-contact">
      <li>
        <a class="resume-email" href="mailto:{{resume.basics.email}}">{{resume.basics.email}}</a>
      </li>
      <li>
        <a class="resume-website" href="{{resume.basics.website}}">
          {{resume.basics.website | remove: "https://" | remove: "http://"}}
        </a>
      </li>
      <li class="resume-city">
        {{resume.basics.location.city}}, {{resume.basics.location.region}}
      </li>
      <li>
        {% assign github = resume.basics.profiles | where_exp:"p", "p.network == 'GitHub'" | first %}
          <a class="resume-github" href="{{github.url}}">github.com/{{github.username}}</a>
      </li>
    </ul>
  </header>

  <div class="resume-body">
    {%comment%}
    The left body column includes Education and Work Experience.
    {%endcomment%}
    <div class="resume-left-column">
      <h1>{{site.data.strings.resume_education}}</h1>
      <div class="education">
        {% for e in resume.education %}
        <h4>
          {{e.startDate | split: "-" | reverse | join: "/"}}
          -
          {{e.endDate | split: "-" | reverse | join: "/"}}
          <span class="right">(expected with co-op)</span>
        </h4>
        <h2>{{e.institution}}</h2>
        <h3>
          {{e.studyType}} in {{e.area}},
          3<sup>rd</sup> year
        </h3>
        {% endfor %}
      </div>

      <h1>{{site.data.strings.resume_work}}</h1>
      <div class="work-experience">
        {% for w in resume.work %}
        <h4>
          {{w.startDate | split: "-" | reverse | join: "/"}}
          -
          {{w.endDate | split: "-" | reverse | join: "/"}}
          {% assign length = w.website | split: "" | size %}
          <a class="right{% if length > 35 %} tight{% endif %}" href="{{w.website}}">
            {{w.website | remove: "https://" | remove: "http://"}}
          </a>
        </h4>
        <h2>{{w.company}}</h2>
        <h3>{{w.position}}</h3>
        {% if w.summary %}<em>{{w.summary}}</em>{% endif %}
        <ul>
          {% for h in w.highlights %}
          <li>{{ h | markdownify }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>

    {%comment%}
    The right body column includes Skills, Awards, and Projects.
    {%endcomment%}
    <div class="resume-right-column">
      <h1>{{site.data.strings.resume_skills}}</h1>
      <p class="skills">
        {{resume.skills | map: "name" | join: " | "}}
      </p>

      <h1>{{site.data.strings.resume_awards}}</h1>
      <ul class="awards">
        {% for a in resume.awards %}
        <li>{{a.title}}</li>
        {% endfor %}
      </ul>

      <h1>{{site.data.strings.resume_projects}}</h1>
      <div class="resume-projects">
        {% for p in resume.projects %}
        <h4>
          {{p.startDate | split: "-" | reverse | join: "/"}}
          {% if p.startDate != p.endDate %}
            -
            {{p.endDate | split: "-" | reverse | join: "/"}}
          {% endif %}
        </h4>
        <h2>{{p.name}}</h2>
        {% if p.description %}<em>{{p.description}}</em>{% endif %}
        <ul>
          {% for h in p.highlights %}
          <li>{{ h | markdownify }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</main>

<script async defer src="update.js"></script>
