---
title: Resume
layout: base
extrafont: true
css:
  - button
  - resume
---

<div class="cta-wrap">
  <a class="pdf-button button-link shadow" href="Tiger_Oakes_resume_-_July_2018.pdf">
    PDF
  </a>
</div>

<main class="resume">
  <header class="resume-header">
    {% capture header %}{% include_relative _data/header.md %}{% endcapture %}
    {{ header | markdownify }}
  </header>

  <div class="resume-body">
    <div class="resume-left-column">
      {% capture left %}{% include_relative _data/left_column.md %}{% endcapture %}
      {{ left | markdownify }}
    </div>

    <div class="resume-right-column">
      {% capture right %}{% include_relative _data/right_column.md %}{% endcapture %}
      {{ right | markdownify }}
    </div>
  </div>
</main>
