---
---
{% include base.liquid %}
<!doctype html>
<html>
<head>
	{% include head.html %}
	<link rel="stylesheet" href="{{ base }}/css/core.css">
	<link rel="stylesheet" href="{{ base }}/css/banner.css">
	<link rel="stylesheet" href="{{ base }}/css/resume.css">
</head>
<body>
	<header class="banner-container">
		<div class="inner banner">
			<div class="dot"></div>
			<h1 class="banner-title">Tiger Oakes</h1>
			{% include navigation.liquid %}
		</div>
	</header>

	<main class="resume">
		{% capture resume %}{% include_relative content.md %}{% endcapture %}
		{{ resume | markdownify }}
	</main>
</body>
</html>