.button-link {
	color: inherit;

	padding: 0.5em 1.5em;
	display: inline-block;
	z-index: 1;
	position: relative;
}
.button-link::before {
	border: 1px solid;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}
.button-link::after {
	background: rgba(255, 255, 255, 0.2);
	background: var(--button);
	opacity: 0;

	content: '';
	z-index: -1;
}
.button-link:hover::after {
	opacity: 1;
}

.cta-wrap {
	text-align: center;

	padding: 1em 0;
}
.cta {
	margin-right: 0;
}
.cta-wrap .cta::after { will-change: opacity; }
