.hero {
	font-size: 1.2em;
	text-align: center;
	background-image: url('images/hero.jpg');
	background-size: cover;
	background-position: center;

	padding: 7em 1em;
}
.hero-header {
	font-size: 2.5em;
	text-transform: uppercase;

	margin: 0;
}
.hero-sub {
	margin: 0 auto;
	max-width: 25em;
}

.about {
	background: white;

	padding: 2em 0;
}
.about-content {
	display: flex;
	align-items: center;
	max-width: 60em;
	justify-content: center;
}
.profile {
	border-radius: 50%;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);

	flex: 0 0 160px;
	margin-left: 5em;
}


.featured-projects {
	font-size: 1.3em;
}
.featured-project {
	padding: 3.5em 5em;
}
.featured-project-text {
	max-width: 40em;
}

.button-link {
	margin: 0 0.5em 0.5em 0;
}
.featured-project:hover .button-link::after { will-change: opacity; }

.contact {
	--button: rgba(230, 109, 49, 0.2);
	background: #333;
	color:  white;

	padding: 2em 1em 10em;
}
.contact-content {
	font-size: 1.25em;
}
.contact-cta {
	margin-top: 3em;
}

@media (max-width: 45em) {
	.about-content {
		flex-wrap: wrap-reverse;
	}
	.profile {
		margin: 0;
	}

	.featured-project {
		padding: 2em;
	}
}

@media (max-width: 30em) {
	.featured-project {
		font-size: 0.9em;
	}
}
