.project-hero {
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	padding: 2em;
	display: flex;
}

.project-logo {
	margin-right: 4em;
}
.project-header {
	margin-bottom: 0.2em;
}
.project-text, .project-tech {
	margin: 0;
}
