.banner-container {
	position: static;
}
.banner-title {
	font-weight: 700;
	color: inherit;
}

.resume {
	max-width: 7.5in;
	/* height: 10in; */
	padding: 0.5in;
	margin: 2em auto;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 11pt;
	background: white;
}

.resume-header {
	padding-bottom: 0.2in;
	border-bottom: 0.01in solid #e66d31;
}
.resume-header-main {
	flex: 1;
}
.resume-title {
	margin: 0;
	font-size: 28pt;
	text-transform: uppercase;
	font-weight: bold;
}
.resume-header-items {
	float: right;
	margin: 0;
	line-height: 1.4em;
	text-align: right;
	font-size: 1em;
}

.resume-summary {
	color: rgb(64, 64, 64);
	margin: 0;
}

a {
	color: inherit;
}
h1 {
	font-weight: 400;
	font-size: 18pt;
	margin: 1em 0 0;
}
h2 {
	font-size: 14pt;
	margin: 0;
}
h3 {
	font-size: 14pt;
	font-weight: normal;
	margin: 0;
	line-height: 1.4em;
}
h4 {
	font-size: 10pt;
	font-weight: 400;
	color: #e66d31;
	margin: 0;
	line-height: 1.4em;
	position: relative;
}
h4::before {
	position: absolute;
	background: #e66d31;
	left: -0.5in;
	width: 0.25in;
	height: 0.69in;
	content: '';
}
p {
	margin: 0;
}
ul {
	margin: 0 0 1em;
	padding: 0;
	list-style: none;
	font-size: 10pt;
}
em {
	font-size: 11pt;
	font-weight: normal;
	color: rgb(90, 90, 90);
}

.cta-wrap {
	text-align: center;
}
.pdf-button {
	padding: 0.6em 2em;
	text-decoration: none;
	color: white;
	background: #cd372d;
	font-weight: bold;
	margin: 1em 0 0;
	display: inline-block;
}
.pdf-button::after {
	will-change: opacity;
	content: '';
}

@media (max-width: 6in) {
	.resume {
		padding: 0.3in;
	}
	.resume-header {
		flex-direction: column;
	}
	.resume-header-items {
		margin-top: 0.125in;
	}
}

@media print {
	.banner-container, .pdf-button, .contact {
		display: none;
	}
	.resume {
		padding: 0;
		box-shadow: none;
	}
	body {
		background: none;
	}
}
