.projects {
	max-width: 71em;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
}

.project {
	background-position: center;

	padding: 1.5em 2em;
	display: flex;
	flex-direction: column;
	margin: 0.5em;
	flex: 2 0 auto;
	min-width: 19em;
	max-width: calc(100% - 5em);
}
.feature {
	flex-grow: 3;
}

.project-logo {
	align-self: center;
	margin-bottom: 2em;
}

.project-header {
	white-space: nowrap;
	margin: 0;
}
.project-text, .project-tech {
	margin: 0;
}

.project-links {
	text-align: center;
	font-size: 0.95em;

	margin: 0.8em -0.2em -0.2em;
	display: flex;
	justify-content: center;
}
.button-link {
	white-space: nowrap;

	flex: 1;
	margin: 0.2em;
	max-width: 7em;
}

.project:hover .button-link::after { will-change: opacity; }

@media (max-width: 26em) {
	.project {
		min-width: initial;
	}
	.project-header {
		white-space: initial;
	}
	.project-links {
		flex-wrap: wrap;
	}
}
