---
import ListFlat, { type Item } from '../lists/ListFlat.astro';
import { postAccentColor, getAllPosts } from '../../scripts/posts';
import type { CollectionEntry } from 'astro:content';

const allPosts = await getAllPosts()
const featured = allPosts.filter((post) =>
  post.data.categories.includes('Feature') && !post.data.draft
);

function formatPost(post: CollectionEntry<'posts'>): Item {
  return {
    title: post.data.title,
    description: post.data.description,
    date: post.data.date,
    accent: postAccentColor(post.data.tags),
    href: `/posts/${post.slug}/`,
    pictureSrc: post.data.banner,
    pictureAlt: post.data.banner_alt,
    collection: 'posts',
  };
}
---

<section id="previews" class="max-w-site mx-auto safe-px-4 py-8">
  <ListFlat title="Latest posts" items={allPosts.slice(0, 3).map(formatPost)} />
  <ListFlat
    title="Popular content"
    items={featured.slice(0, 3).map(formatPost)}
  />
</section>
