---
import Button from '../Button.astro';
import Logo from '../Logo.astro';
import profileImage from './profile.jpg';
import Picture from '../Picture.astro';
---

<section
  id="about"
  class="max-w-site mx-auto safe-px-4 flex flex-wrap gap-x-20 gap-y-8 items-center"
>
  <div class="text-lg flex-1">
    <Logo outline width={320} height={64} />
    <div class="about-content">
      <slot />
    </div>
    <Button
      class="inline-block border-2 border-current"
      href="https://buttondown.email/tiger"
    >
      Subscribe to my newsletter
    </Button>
  </div>
  <Picture
    src={profileImage}
    alt="Portrait of Tiger Oakes"
    loading="eager"
    class="border-4 border-slate-800 rounded-full h-40 w-40"
    sizes="10rem"
    formats={['avif', 'webp', 'jpeg']}
    widths={[160, 320, 640]}
  />
</section>

<style>
  .about-content > :global(p) {
    @apply decoration-slate-200 my-4;
  }
  .about-content :global(a) {
    @apply underline;
  }
  #about :global(picture) {
    @apply grow-0 shrink-0 mx-auto;
  }
</style>
