---
import Logo from '@notwoods/logo/Logo.svelte';
import { Picture } from 'astro:assets';
import Button from '../Button.astro';
import profileImage from './profile2023.jpg';
---

<section
  id="about"
  class="safe-px-4 mx-auto flex max-w-site flex-wrap items-center gap-x-20 gap-y-8"
>
  <div class="flex-1 text-lg">
    <h1>
      <Logo monochrome height={64} />
    </h1>
    <div class="about-content">
      <slot />
    </div>
    <Button
      class="inline-block border-2 border-current"
      href="https://buttondown.email/tiger"
    >
      Subscribe to my newsletter
    </Button>
  </div>
  <Picture
    src={profileImage}
    alt="Portrait of Tiger Oakes"
    loading="eager"
    class="h-40 w-40 rounded-full border-4 border-slate-800"
    sizes="10rem"
    formats={['avif', 'webp', 'jpeg']}
    fallbackFormat="jpeg"
    width={160}
    height={160}
    densities={[1, 2, 4]}
  />
</section>

<style>
  :global(.logo) {
    max-width: 100%;
  }
  /* Disable tailwind outline class */
  :global(.logo) :global(.outline) {
    outline: none;
  }

  .about-content > :global(p) {
    @apply my-4 decoration-slate-200;
  }
  .about-content :global(a) {
    @apply underline;
  }
  #about :global(picture) {
    @apply mx-auto shrink-0 grow-0;
  }
</style>
