---
import ListFlat from '../lists/ListFlat.astro';
import { postAccentColor } from '../../scripts/posts';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('posts');
const featured = allPosts.filter((post) =>
  post.data.categories.includes('Feature')
);

type PostArray = typeof allPosts;

function formatPost(post: PostArray[number]) {
  return {
    title: post.data.title,
    description: post.data.description,
    date: post.data.date,
    accent: postAccentColor(post.data.tags),
    href: post.slug,
    pictureSrc: post.data.banner,
    pictureAlt: post.data.banner_alt,
  };
}
---

<section id="previews" class="max-w-site mx-auto px-4 py-8">
  <ListFlat title="Latest posts" items={allPosts.slice(0, 3).map(formatPost)} />
  <ListFlat
    title="Popular content"
    items={featured.slice(0, 3).map(formatPost)}
  />
</section>
