/* Elements with this class have a shadow that grows on hover */
.shadow::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-shadow: var(--large-shadow);
  background: transparent;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.shadow:hover::after,
.shadow:focus::after {
  opacity: 1;
}
.shadow:active::after {
  opacity: 0.5;
}
