---
import Button from './Button.astro';

export interface ButtonProps {
  href: string;
  title: string;
}

export interface Props {
  buttons: readonly ButtonProps[];
  class?: string;
}

const { buttons, class: className } = Astro.props as Props;

---

<div class={`buttons flex flex-wrap gap-2 justify-center mt-3 ${className}`}>
  {buttons.map(button => <Button href={button.href}>{button.title}</Button>)}
</div>

<style>
  .buttons {
    grid-area: buttons;
  }
</style>
