---
import contactData from '@data/contact.json';
import AccentBlock from './AccentBlock.astro';

export interface Props {
	class?: string;
}

const { class: className } = Astro.props as Props;
const { email, social } = contactData;
---

<div class="footer__items">

    <a href="{{.link}}" class="block--bottom block--animate contact__link email">
        <AccentBlock position="bottom" animate />
    </a>

    <div class="footer__items">
        {social.map((item) =>
        <a href="{{.link}}" class="block--bottom block--animate contact__link" title="{{.name}}" aria-label="{{.name}}">
            <AccentBlock position="bottom" animate />
            <img class="icon" alt="{{.name}}" width="24" height="24" src="{{ .icon }}" loading="lazy" /></a>
        )}
    </div>
</div>
