---
import { Image } from 'astro:assets';
import logoSvg from '@notwoods/logo/svg/logo-on-dark.svg';
---

<h1 class="grow pr-2">
  <a class="logo__container block" href="/">
    <Image
      class="logo"
      src={logoSvg}
      alt="Tiger Oakes"
      height={32}
      width={160}
    />
  </a>
</h1>

<style>
  .logo__container .logo {
    display: block;
    margin-top: -4px;
  }
</style>
