---
import { Image } from 'astro:assets';
import logoSvg from '@notwoods/logo/svg/logo-on-dark.svg';
---

<div class="flex grow pr-2">
  <a class="logo__container" href="/">
    <Image
      class="-mt-[4px] block"
      src={logoSvg}
      alt="Tiger Oakes"
      height={32}
      width={160}
    />
  </a>
</div>
