---
import Button from './Button.astro';
---

<form
  action="https://buttondown.email/api/emails/embed-subscribe/tiger"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/tiger', 'popupwindow')"
  class="subscribe"
>
  <div class="input__wrap">
    <input class="input" type="email" name="email" id="bd-email" />
    <label class="input__label" for="bd-email">Email</label>
    <div class="input__border"></div>
  </div>
  <input type="hidden" value="1" name="embed" />
  <Button type="submit" class="subscribe__button shadow button">Subscribe</Button>
</form>
