---
import Button from './Button.astro';
---

<aside class="max-w-site mx-auto safe-px-4 py-8">
  <h2 class="text-2xl mx-4">Want to read more?</h2>
  <p class="text-lg m-4">
    On this site I try to write about interesting and weird projects, and my
    newsletter is no different! It includes <strong>early access</strong> to
    upcoming posts and access to special bonus content. No spam, unsubscribe at
    any time.
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/tiger"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/tiger', 'popupwindow')"
    class="subscribe flex flex-wrap mx-4 gap-4"
  >
    <div class="flex flex-col flex-1">
      <input
        class="peer bg-transparent py-1"
        type="email"
        name="email"
        id="bd-email"
      />
      <label
        class="order-first peer-focus:text-orange-500 motion-safe:transition-colors"
        for="bd-email"
        >Email
      </label>
      <hr
        class="border-t-4 peer-focus:border-orange-500 peer-focus:translate-y-1.5 motion-safe:transition"
      />
    </div>
    <input type="hidden" value="1" name="embed" />
    <Button
      type="submit"
      class="text-xl bg-orange-500 text-slate-800 selection-invert ml-auto"
    >
      Subscribe
    </Button>
  </form>
</aside>
