---
import Button from './Button.astro';
---

<aside class="safe-px-4 mx-auto max-w-site py-8">
  <h2 class="mx-4 text-2xl">Want to read more?</h2>
  <p class="m-4 text-lg">
    On this site I try to write about interesting and weird projects, and my
    newsletter is no different! It includes <strong>early access</strong> to upcoming
    posts and access to special bonus content. No spam, unsubscribe at any time.
  </p>

  <form
    action="https://buttondown.email/api/emails/embed-subscribe/tiger"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/tiger', 'popupwindow')"
    class="subscribe mx-4 flex flex-wrap gap-4"
  >
    <div class="flex flex-1 flex-col">
      <input
        class="peer bg-transparent py-1"
        type="email"
        name="email"
        id="bd-email"
      />
      <label
        class="order-first peer-focus:text-orange-500 motion-safe:transition-colors"
        for="bd-email"
        >Email
      </label>
      <hr
        class="border-t-4 peer-focus:translate-y-1.5 peer-focus:border-orange-500 motion-safe:transition"
      />
    </div>
    <input type="hidden" value="1" name="embed" />
    <Button
      type="submit"
      class="selection-invert ml-auto bg-orange-500 text-xl text-slate-800"
    >
      Subscribe
    </Button>
  </form>
</aside>
