{{/* Banner displayed at the top of the site. */}}
<header class="banner-container">
    <div class="inner banner">
        <a class="home-link" href="/">
            <div class="dot shadow"></div>
            <h1 class="banner-title">{{ .Site.Title }}</h1>
        </a>

        <nav class="nav">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <a class='nav-link highlight-title{{if $currentPage.IsMenuCurrent "main" . }} current-page{{end}}'
                href="{{ .URL }}"
                title="{{ .Title }}">{{ .Name }}</a>
            {{ end }}
        </nav>
    </div>
</header>
