{{/* Banner displayed at the top of the site. */}}
<header class="banner__wrap">
  <div class="inner banner">
    {{ if not .IsHome }}
    {{ partialCached "logo.html" (dict) "banner" }}
    {{ end }}

    <nav class="nav">
      {{- $currentPage := . -}}
      {{- range .Site.Menus.main -}}
      {{- $url := strings.TrimSuffix "/" .URL -}}
      {{- $menuPage := $currentPage.Site.GetPage $url -}}
      {{- $inSection := false -}}
      {{- if ne $menuPage.CurrentSection $.Site.Home -}}
        {{/* Use section matching */}}
        {{- $inSection = $currentPage.InSection $menuPage -}}
      {{- else -}}
        {{/* Use path matching */}}
        {{- $inSection = eq .URL $currentPage.RelPermalink -}}
      {{- end -}}
      {{- $classes := slice "block--animate" "nav__link" "block--bottom" -}}
      {{- if $inSection }}
        {{- $classes = $classes | append "nav__link--current" -}}
      {{- end -}}
      <a class='{{ delimit $classes " " }}'
        href="{{ .URL }}"
        title="{{ .Title }}">{{ .Name }}</a>
      {{- end -}}
    </nav>
  </div>
</header>
