{{ if .CurrentSection.Params.other }}
<footer class="cta__wrap article__nav inner">
    {{- with .NextInSection -}}
        <a class="shadow button article__nav-link" href='{{ .RelPermalink }}'>
            &lt; {{ .Title }}
        </a>
    {{- end -}}
    <a class="shadow button article__nav-other" href='{{.CurrentSection.RelPermalink}}'>
        {{- .CurrentSection.Params.other -}}
    </a>
    {{- with .PrevInSection -}}
        <a class="shadow button article__nav-link" href='{{ .RelPermalink }}'>
            {{ .Title }} &gt;
        </a>
    {{- end -}}
</footer>
{{end}}
