<div class="contact-content">
    {{ with .Site.Data.contact.email }}
    <a href="{{.link}}" class="contact-link email">
        {{.name}}
    </a>
    {{ end }}
    {{ $contact := .Site.GetPage "/contact" }}
    {{ $color := .Params.contact_color | default "black" }}
    {{ range .Site.Data.contact.social }}
    <a href="{{.link}}" class="contact-link" title="{{.name}}" aria-label="{{.name}}">
        {{ $image_name := (string (delimit (slice $color "-" (lower .name) ".*") "")) }}
        {{ $image := ($contact.Resources.GetMatch $image_name) }}
        <img class="contact-icon" alt="{{.name}}" width="32" height="32"
            src='{{ $image.RelPermalink }}'>
    </a>
    {{ end }}
</div>
