<ul class="tags">
  {{ with .Params.elsewhere }}
  <li class="tag tag--elsewhere">{{ .name }}</li>
  {{ end }}
  {{ range .Params.tags }}
  <!--
  <li class="tag">
      <a class="tag__link" href='{{ relURL (print "/" $.Type "/tags/" . | urlize) }}'>{{.}}</a>
  </li>
  -->
  <li class="tag">{{.}}</li>
  {{ end }}
  {{ range .Params.projects }}
  {{ $project := $.Site.GetPage "posts" . }}
  <li class="tag tag--project">
      <a class="tag__link" href='{{ $project.RelPermalink }}'>{{ $project.Name }}</a>
  </li>
  {{ end }}
</ul>
