/* Wrapper element for CTA .button, places it in the center */
.cta__wrap {
  --accent: var(--theme-light);

  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.5em;
}
.cta__wrap .button {
  color: var(--theme-dark);
}
.cta__wrap .button::after {
  will-change: opacity;
}

@media (--home-projects-text) {
  .cta__wrap .button {
    white-space: normal;
  }
}
