.buttons {
  --space: 0.2em;

  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--space) * -1);
}

.button {
  /* expects: .shadow */
  margin: var(--space);
  padding: 0.5em 1.5em;
  display: inline-block;
  position: relative;
  border: 0;

  color: inherit;
  font: inherit;
  background: var(--accent);
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.button::after {
  border: 2px solid;
}
