/* Article navigation, with CTA and prev/next links */
.article__nav {
  /* expects: .inner.cta__wrap */
  display: grid;
  grid-template:
    'navprev button navnext' 1fr
    / 1fr auto 1fr;
  align-items: center;

  gap: 1rem;
}
