{{ define "title" }}{{.Site.Title}}{{ end }}
{{ define "head" }}
    <!-- TODO -->
{{ end }}
{{ define "main" }}
    <section class="hero">
        <h1 class="hero-header">{{.Title}}</h1>
        <p class="hero-sub">{{.Params.subtitle}}</p>
    </section>

    <section class="about">
        <div class="inner about-content">
            <div class="about-text">
                {{.Content}}
            </div>

            {{ $profile := "/images/profile-" | relURL }}
            <img class="profile" width="160" height="160" sizes="160px" src="{{$profile}}1x.jpg" alt="Portrait of Tiger Oakes"
                srcset="{{$profile}}2x.jpg 2x, {{$profile}}3x.jpg 3x, {{$profile}}4x.jpg 4x">
        </div>
    </section>

    <section class="featured-projects projects" id="featured">
        {{ range $path := .Site.Data.showcase }}
        {{ with $.GetPage $path }}
        {{ if .Params.feature }}
        <article class="project featured-project" style='{{ partial "project/style.css" . | safeCSS }}'>
            <div class="inner">
                <h2 class="project-header side-block">{{.Title}}</h2>
                {{ partial "project/tech_list.html" .Params.tech }}
                <p class="featured-project-text">
                    {{.Description | default .Summary}}
                </p>
                {{ partial "project/buttons.html" .Params.links }}
            </div>
        </article>
        {{ end }}
        {{ end }}
        {{ end }}

        {{ partial "project/cta.html" "see_more" }}
    </section>
{{ end }}
{{ define "footer" }}
    <h2>{{ i18n "contact" }}</h2>
    {{ partialCached "footer.html" . }}
{{ end }}
