{{ define "head" }}
    {{ partial "meta/inline-postcss.html" (resources.Get "css/pages/home.css" | resources.ExecuteAsTemplate "css/pages/home.css" .) }}
    {{ range (.GetPage "/posts").AlternativeOutputFormats }}
    <link rel="{{.Rel}}" type="{{.MediaType.Type}}" href="{{.Permalink}}" title="{{$.Site.Title}}">
    {{ end }}
{{ end }}
{{ define "main" }}
    <section class="card header about">
        <div class="inner about__content">
            <div>{{.Content}}</div>

            {{ with .Resources.GetMatch "profile.jpg" }}
            {{ $1x := .Resize "160x" }}
            {{ $2x := .Resize "320x" }}
            {{ $3x := .Resize "480x" }}
            {{ $4x := .Resize "640x" }}
            <img class="profile" width="160" height="160" sizes="160px" alt="Portrait of Tiger Oakes"
                src="{{$1x.RelPermalink}}"
                srcset="{{$2x.RelPermalink}} 2x, {{$3x.RelPermalink}} 3x, {{$4x.RelPermalink}} 4x">
            {{ end }}
        </div>
    </section>

    <section class="previews">
        <div class="inner">
            <h2 class="section__title">
                Latest posts
            </h2>
            <ul class="preview__list">
            {{ range (.GetPage "posts").RegularPages | first 3 }}
            {{ partial "home_preview" . }}
            {{ end }}
            </ul>

            <h2 class="section__title">
                Popular content
            </h2>
            <ul class="previews">
            {{- $content := (.GetPage "posts").RegularPages | append (.GetPage "talks").RegularPages -}}
            {{ range where $content ".Params.feature" true }}
            {{ partial "home_preview" . }}
            {{ end }}
            </ul>

            <footer class="preview__cta">
                <a class="shadow button" href="/posts/">
                    {{ i18n "view_all" }}
                </a>
            </footer>
        </div>
    </section>

    <section class="featured-projects projects" id="featured">
        {{- $projects := where (.GetPage "projects").Pages ".Params.feature" true -}}
        {{- $lastIndex := sub (len $projects) 1 -}}
        {{ range $index, $project := where (.GetPage "projects").Pages ".Params.feature" true }}
        <article class="card featured-project" style='{{ partial "project/style.css" $project | safeCSS }}'>
            <div class="inner">
                {{ if eq $index 0 }}
                <h2 class="section__title projects__title">
                    Featured projects
                </h2>
                {{ end }}
                <h3 class="block card__title">{{$project.Title}}</h3>
                {{ partial "project/tech_list.html" $project.Params.tech }}
                <p class="card__description">
                    {{$project.Description | default $project.Summary}}
                </p>
                {{ partial "project/buttons.html" (dict "links" $project.Params.links "page" $project.RelPermalink) }}
            </div>
            {{ if eq $index $lastIndex }}
            {{ partial "project/cta.html" "see_more" }}
            {{ end }}
        </article>
        {{ end }}
    </section>
{{ end }}
{{ define "footer" }}
    <footer class="contact" id="contact" role="contentinfo">
    {{- with .Site.GetPage "/contact" -}}
        {{.Content}}
        {{ with .Site.Data.contact.email }}
        <a href="{{.link}}" class="block block--bottom block--animate contact__link email">
            {{.text | markdownify}}
        </a>
        {{ end }}
        <p>{{ i18n "find_at" }}</p>
        {{ range .Site.Data.contact.social }}
        <p class="contact__link-container">
        <a href="{{.link}}" class="block block--bottom block--animate contact__link">
            {{.text | markdownify}}
        </a>
        </p>
        {{ end }}
    {{- end -}}
    </footer>
{{ end }}
