{{ define "head" }}
    {{ partial "meta/scss.html" (resources.Get "sass/home/page.scss" | resources.ExecuteAsTemplate "home.scss" .) }}
    {{ partial "meta/twitter-summary.html" . }}
    {{ template "_internal/opengraph.html" . }}
{{ end }}
{{ define "main" }}
    <section class="card hero">
        <div class="hero__content">
            <h1 class="home__heading">{{.Title}}</h1>
            <p class="home__subtitle">{{.Params.subtitle}}</p>
        </div>
    </section>

    <section class="about">
        <div class="inner about-content">
            <div class="about-text">
                {{.Content}}
            </div>

            {{ with .Resources.GetMatch "profile.jpg" }}
            {{ $1x := .Resize "160x" }}
            {{ $2x := .Resize "320x" }}
            {{ $3x := .Resize "480x" }}
            {{ $4x := .Resize "640x" }}
            <img class="profile" width="160" height="160" sizes="160px" alt="Portrait of Tiger Oakes"
                src="{{$1x.RelPermalink}}"
                srcset="{{$2x.RelPermalink}} 2x, {{$3x.RelPermalink}} 3x, {{$4x.RelPermalink}} 4x">
            {{ end }}
        </div>
    </section>

    <section class="featured-projects projects project-text" id="featured">
        {{ range (.GetPage "projects").Pages }}
        {{ if .Params.feature }}
        <article class="project featured-project" style='{{ partial "project/style.css" . | safeCSS }}'>
            <div class="inner">
                <h3 class="project-header highlight-title">{{.Title}}</h3>
                {{ partial "project/tech_list.html" .Params.tech }}
                <p class="featured-project-text">
                    {{.Description | default .Summary}}
                </p>
                {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
            </div>
        </article>
        {{ end }}
        {{ end }}

        {{ partial "project/cta.html" "see_more" }}
    </section>
{{ end }}
{{ define "footer" }}
    <footer class="contact" id="contact" role="contentinfo">
        <h2>{{ i18n "contact" }}</h2>
        {{ partial "footer.html" . }}
    </footer>
{{ end }}
{{ define "end" }}
    {{ $swRegistration := resources.Get "js/service-worker-registration.js" | minify }}
    <script async defer src="{{ $swRegistration.RelPermalink }}"></script>
{{ end }}
