---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListPanels from '../../components/lists/ListPanels.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { projectButtons } from '../../scripts/projects';
import { getCollection } from 'astro:content';

const allPages = await getCollection('projects');
allPages.sort((a, b) => {
  const aWeight = a.data.weight || Infinity;
  const bWeight = b.data.weight || Infinity;
  return aWeight - bWeight;
});

const projects = await Promise.all(
  allPages.map(async (page) => {
    return {
      title: page.data.title,
      description: page.data.subtitle,
      href: page.slug,
      accent: page.data.color,
      buttons: projectButtons(page.data.links, page.slug),
      tags: page.data.tech,
      logo: page.data.logo,
      backgroundImage: page.data.background,
    };
  })
);
---

<html lang="en">
  <head>
    <MainHead title="Projects" />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} />

    <ListPanels items={projects} />

    <Footer />
  </body>
</html>
