---
import BannerNav from '../../components/BannerNav.astro';
import Footer from '../../components/Footer.astro';
import ListPanels from '../../components/lists/ListPanels.astro';
import MainHead from '../../components/meta/MainHead.astro';
import { compareProjects, projectButtons } from '../../scripts/projects';
import { getCollection } from 'astro:content';

const allPages = await getCollection('projects');
allPages.sort(compareProjects);

const projects = await Promise.all(
  allPages.map(async (page) => {
    const href = `./${page.id}/`;
    return {
      title: page.data.title,
      description: page.data.subtitle,
      href,
      accent: page.data.color,
      buttons: projectButtons(page.data.links, href),
      tags: page.data.tech,
      logo: page.data.logo,
      backgroundImage: page.data.background,
    };
  })
);
---

<html lang="en">
  <head>
    <MainHead
      title="Projects"
      description="Projects created & worked on by Tiger Oakes"
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <BannerNav current={Astro.url} currentIsH1 />

    <ListPanels items={projects} />

    <Footer />
  </body>
</html>
