.container {
  display: grid;
  grid-template-areas: 'sidebar content';
}
.container.closed {
  grid-template-columns: 0px 1fr;
}
.container.open {
  grid-template-columns: 320px 1fr;
}
.container.animating {
  grid-template-columns: 320px 100%;
}

.sidebar {
  grid-area: sidebar;
  background: linear-gradient(to bottom, #334155, #1e293b);
}
.content {
  grid-area: content;
  background: linear-gradient(to right bottom, #1C1917, #cbd5e1);
}

.sidebar, .content {
  padding: 1rem;
  min-height: 10rem;
}
