{{/* Input should be dict of button name to button link */}}
<div class="buttons">
    {{- range .links -}}
    {{- $scratch := newScratch -}}
    {{- if (isset . "link") }}
        {{- $scratch.Set "link" .link -}}
    {{- else if isset . "github" -}}
        {{- $scratch.Set "link" (print "https://github.com/" .github) -}}
    {{- else -}}
        {{ $scratch.Set "link" $.page }}
    {{- end -}}
    <a class="shadow button" href='{{$scratch.Get "link"}}'>
        {{- .title -}}
    </a>
    {{- end -}}
</div>
