{{ $logo := .Resources.GetMatch "logo.svg" }}
{{ if $logo }}
<img src="{{$logo.RelPermalink}}"
  loading="lazy"
  height="128" width="128" alt="" class="card__icon">
{{ else }}
{{ $logo := .Resources.GetMatch "logo.png" }}
{{ $srcset := slice ($logo.Resize "128x") ($logo.Resize "256x") ($logo.Resize "384x") ($logo.Resize "512x") }}
<img src="{{$logo.RelPermalink}}"
  srcset='{{ partial "srcset" $srcset | safeHTMLAttr }}'
  loading="lazy"
  height="128" width="128" alt="" class="card__icon">
{{ end }}
