{{ with .Resources.GetMatch "logo.*" }}
    {{ if (in .MediaType.Suffixes "svg") }}
        <img src="{{.RelPermalink}}" height="128" width="128" alt="{{$.Title}} Logo">
    {{ else }}
        {{ $1x := .Resize "128x" }}
        {{ $2x := .Resize "256x" }}
        {{ $3x := .Resize "384x" }}
        {{ $4x := .Resize "512x" }}
        <img src="{{$1x.RelPermalink}}"
            srcset="{{$2x.RelPermalink}} 2x,
                    {{$3x.RelPermalink}} 3x,
                    {{$4x.RelPermalink}} 4x"
            height="128" width="128" alt="{{.Title}}">
    {{ end }}
{{ end }}
