body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #f9f9f9;
}

.centered {
	max-width: 1152px;
	padding: 0 16px;
	margin: 0 auto;
}
.centered.inner {text-align: center;}
.fab, #download {
	position: absolute;
	top: 228px;
	left: calc(50% - 592px);
}
@media (max-width: 1184px) {
	.fab, #download {
		left: 0;
	}
}

#main-header {
	height: 256px;
	background-color: #009688;
	position: relative;
	box-shadow: 0 4px 4px rgba(38, 50, 56, 0.2);
}
#logo {
	background-color: #009688;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0; left: 0;
}
#logo img {
	height: 80px;
	width: 441px;
	padding-top: 112px;
	padding-left: 72px;
}
#logo #bot {
	width: auto;
	height: 208px;
	vertical-align: top;
	float: right;
	padding-top: 24px;
}
@media (max-width: 750px) {
	/*#logo #bot {display: none;}*/
	#logo img {
		height: 40px;
		width: 220px;
		padding-top: 60px;
	}
	#logo #bot {
		height: 104px;
		padding-top: 12px;
	}
	#main-header {
		height: 128px;
	}
	.fab, #download {
		top: 100px;
	}

	#install h2 {font-size: 20px !important;}
	#install p {
		font-size: 12px !important;
		margin-bottom: 8px !important;
	}
	header #install menu a {
		padding-top: 8px;
		padding-left: 32px;
		background-size: auto 16px;
		background-position: 8px center;
		margin: 0 8px;
	}
}

#download {
	border-radius: 50%;
	border: 0;
	box-shadow: 0 1px 2px 1px rgba(38, 50, 56, 0.2);
	width: 56px; height: 56px;
	padding: 16px;
	fill: white;
	background-color: #607D8B;
	transition: 0.3s ease background-color, 0.3s ease box-shadow;
	margin: 0 16px;
	z-index: 1;
}
#download:focus {
	outline:0;
}
#circle {
	width: 56px;
	height: 56px;
	fill: white;
	transform: scale(0.9, 0.9);
}

#install {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0;
	background-color: white;
	display: none;
	opacity: 0;
}
#install menu {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 8px 16px;
}
#install menu a {
	padding: 8px;
	padding-top: 64px;
	min-width: 48px;
	text-align: center;
	color: #009688;
	font-size: 12px;
	text-decoration: none;
	display: inline-block;
	margin: 0 32px;
	background-position: center 8px;
	background-repeat: no-repeat;
	border-radius: 2px;
	transition: 0.3s ease background-color;
	text-transform: uppercase;
	font-weight: 700;
}
#install menu a:hover {background-color: rgba(153,153,153,0.2);}
#install menu a:active {background-color: rgba(153,153,153,0.4);}

#download:hover + #logo #circle {
	-webkit-animation: circle-expand linear 1s;
}
#download:hover + #logo + #install {
	display: block;
	-webkit-animation: show linear 1s;
	-webkit-animation-fill-mode: forwards;
}
#install:hover, #download:focus + #logo + #install {
	display: block;
	opacity: 1;
}

#install h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 400;
	color: #212121;
}
#install p {
	margin-top: 0;
	font-size: 16px;
	color: #757575;
	margin-bottom: 32px;
}

@-webkit-keyframes circle-expand {
	0% {transform: scale(0.9, 0.9);}
	50% {transform: scale(75, 75);}
	100% {transform: scale(75, 75);}
}
@-webkit-keyframes show {
	0% {display: block; opacity:0;}
	25% {opacity: 0;}
	100% {opacity: 1;}
}

#gallery {
	width: 809px;
	margin: 16px auto;
}
#gallery div {
	width: 157px;
	height: 157px;
	margin: 4px;
	background-color: #3e3e3e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#gallery #main-img {
	float: right;
	height: 640px;
	width: 640px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	margin: 0 4px;
	margin-top: -644px;
	background-image: url('gallery/gallery.svg')
}

#img-1 {background-image:url('gallery/one.png')}
#img-2 {background-image:url('gallery/two.png')}
#img-3 {background-image:url('gallery/three.png')}
#img-4 {background-image:url('gallery/four.png')}

#img-1:hover+#img-2+#img-3+#img-4+#main-img {background-image:url('gallery/one.png')}
#img-2:hover+#img-3+#img-4+#main-img {background-image:url('gallery/two.png')}
#img-3:hover+#img-4+#main-img {background-image:url('gallery/three.png')}
#img-4:hover+#main-img {background-image:url('gallery/four.png')}

@media (max-width: 830px) {
	#gallery div {
		display: inline-block;
		width: 320px;
		height: 320px;
		margin: 0;
	}
	#gallery #main-img {
		display: none;
	}
	#gallery {
		width: 644px;
	}
}
@media (max-width: 644px) {
	#gallery {
		width: 320px;
	}
}
