{{ define "head" }}
    {{ partial "meta/inline-postcss.html" (resources.Get "css/pages/talks.css") }}
{{ end }}
{{ define "main" }}
    {{ partial "mini_hero.html" . }}

    <main class="talks inner">
        {{ range .Pages }}
        <article class="card talk" style="--block:{{.Params.color}}">
            {{ with .Resources.GetMatch "slide.*" }}
            <img src="{{.RelPermalink}}" width="960" height="540" alt="" class="card__icon">
            {{ end }}
            <h3 class="block card__title">{{.Title}}</h3>
            {{ partial "time.html" . }}
            {{ partial "project/tech_list.html" .Params.tags }}
            {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
        </article>
        {{ end }}
    </main>
{{ end }}
