@import "../_utils";
@import "../_core";
@import "../project/_main";

// {{ $image := .Resources.GetMatch "hero.jpg" }}

.hero {
  font-size: 1.2em;
  text: {
    align: center;
    shadow: 1px 1px 1px #b6b6b6;
  }

  &-container {
    background: {
      image: url("{{ $image.RelPermalink }}");
    }
  }
  padding: 5em 0em;

  &-header {
    font-size: 2.5em;
    text-transform: uppercase;
  }

  &-header,
  &-sub {
    margin: 0 auto;
    max-width: 25em;
  }
}

.about {
  background: white;

  padding: 2em 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.profile {
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(black, 0.2);

  flex: 0 0 160px;
  margin-left: 5em;
}

.featured-projects {
  font-size: 1.1em;

  @media (max-width: 30em) {
    font-size: 0.9em;
  }
}
.featured-project {
  padding: 2.5em 3.5em 5em;
}

.contact {
  background: $dark-background;
  color: white;

  &-content {
    font-size: 1.25em;
  }
}

@media (max-width: 45em) {
  .about-content {
    flex-wrap: wrap-reverse;
  }
  .profile {
    margin: 0;
  }

  .featured-project {
    padding: 2em;
  }
}
