{{ define "head" }}
  {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/posts.css") "css/pages/posts.css" }}
  {{ partialCached "meta/inline-postcss.html" (resources.Get "css/pages/tags.css") "css/pages/tags.css" }}
{{ end }}
{{ define "main" }}
  <header class="card header article__header">
    <div class="header__content inner">
      <div class="header__text">
        <h1 class="block--side card__title tag__title">
          All {{ .Title }}
        </h1>
      </div>

      {{ partial "project/buttons.html" (dict "links" .Params.links "page" .RelPermalink) }}
    </div>
  </header>

  <ul class="tags__list inner">
    {{ range .Pages }}
    <li class="tags__list-item">
      <h3><a class="block--side block--animate" href='{{ .RelPermalink }}'>{{.Title}}</a></h3>
    </li>
    {{ end }}
  </main>
{{ end }}
