---
export interface Props {
  href: string;
}

const { href } = Astro.props as Props;
---

<div class="not-prose -mx-4">
  <a class="button block border border-current p-4 relative" {href}>
    <slot name="icon">
      <img class="float-right" loading="lazy" width="20" height="20" />
    </slot>
    <h6 class="text-lg"><slot name="title" /></h6>
    <span class="text-sm">
      <slot name="about" />
    </span>
  </a>
</div>
