<!DOCTYPE html>
<html lang="en-US">
<meta charset="utf-8">
<title>Redirecting…</title>
<link rel="canonical" href="{{ page.direct_to }}">
<meta http-equiv="refresh" content="0; url={{ page.direct_to }}">
<h1>Redirecting…</h1>
<a href="{{ page.direct_to }}">Click here if you are not redirected.</a>
<script>location="{{ page.direct_to }}"</script>
</html>
