---
---
<!doctype html>
<html>
<head>
	{% include head.html %}
	<title>Tiger Oakes</title>
	<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
	<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BlogPosting",
		"headline": "{{ page.title }}",
		"datePublished": "{{ page.date | date_to_xmlschema }}"
		"url": "{{ site.url }}{{ page.url }}",
		"mainEntityOfPage": "{{ site.url }}{{ page.url }}",
		"breadcrumb": {
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"item": {
					"@id": "{{ site.url }}/blog",
					"name": "Blog Posts"
				}
			}, {
				"@type": "ListItem",
				"position": 2,
				"item": {
					"@id": "{{ site.url }}{{ page.url }}",
					"name": "{{ page.title }}"
				}
			}]
		},
		"author": {
			"@type": "Person",
			"name": "Tiger Oakes",
			"url": "https://tigeroakes.com",
			"email": "mailto:tigeroakes@gmail.com",
			"telephone": "(253) 778-6251",
			"image": "/images/profile.jpg",
			"sameAs": [
				"https://github.com/NotWoods",
				"https://twitter.com/Not_Woods",
				"https://www.linkedin.com/in/tigeroakes",
				"https://plus.google.com/+TigerOakes"
			]
		}
	}
	</script>
</head>
<body>
	<link href="/css/layout.css" rel="stylesheet" type="text/css"/>
	<link href="/css/navigation.css" rel="stylesheet" type="text/css"/>
	<link href="/css/banner.css" rel="stylesheet" type="text/css"/>
	<header class="banner">
		{% include navigation.html %}
	</header>
	
	<article>
		<header>
			<h1>{{ page.title }}</h1>
			<p>
				Posted
				<time datetime="{{ page.date | date_to_xmlschema }}">
					{{ page.date | date_to_string }}
				</time>
				{% if page.subtitle %}
					{{ project.subtitle }}
				{% endif %}
			</p>
		</header>
		
		{{ page.content }}
	</article>
	
	{% include footer.html %}
</body>
</html>