---
import ArticleLayout from '../components/article/ArticleLayout.astro';
import MainHead from '../components/meta/MainHead.astro';
import { dateFromString } from '../scripts/date';
import { postAccentColor } from '../scripts/posts';
import '../styles/font-extra.css';

const { content } = Astro.props;

const formattedProps = {
  title: content.title,
  href: Astro.canonicalURL,
  accent: postAccentColor(content.tags),
  date: content.date ? dateFromString(content.date) : undefined,
  description: content.description,
  tags: content.tags,
  elsewhere: content.elsewhere,
  tableOfContents: content.toc ? content.astro.headers : undefined,
};
---

<html lang="en">
  <head>
    <MainHead title={content.title} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <ArticleLayout {...formattedProps}>
      <slot />
    </ArticleLayout>
  </body>
</html>
