---
import ArticleLayout from '../components/article/ArticleLayout.astro';
import ProjectHeader from '../components/article/ProjectHeader.astro';
import MainHead from '../components/meta/MainHead.astro';
import { dateFromString } from '../scripts/date';
import {
  projectButtons,
  projectImages,
  PROJECT_PATH,
  type Link,
} from '../scripts/projects';

const { content } = Astro.props;
const [, projectId] = Astro.url.pathname.match(PROJECT_PATH);

const { backgroundImage, logo } = await projectImages(projectId, content.logo);
const formattedProps = {
  title: content.title,
  href: Astro.url,
  date: content.date ? dateFromString(content.date) : undefined,
  description: content.subtitle,
  tags: content.tech,
  accent: content.color,
  logo,
  backgroundImage,
  buttons: projectButtons(
    content.links?.filter(
      (link: Link) => link.title !== 'Details' && link.title !== 'Case study'
    ),
    Astro.url
  ),
};
---

<html lang="en">
  <head>
    <MainHead
      title={content.title}
      description="List of projects worked on by Tiger Oakes."
      defaultSocial
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <ArticleLayout {...formattedProps}>
      <ProjectHeader {...formattedProps} class="bg-slate-800" slot="header" />
      <slot />
    </ArticleLayout>
  </body>
</html>
