---
import ArticleLayout from '../components/article/ArticleLayout.astro';
import ProjectHeader from '../components/article/ProjectHeader.astro';
import MainHead from '../components/meta/MainHead.astro';
import { projectButtons, type Link } from '../scripts/projects';

interface Props {
  frontmatter: {
    title: string;
    subtitle: string;
    tech: readonly string[];
    color: string;
    description?: string;
    links?: readonly Link[];
    logo: ImageMetadata;
    background: ImageMetadata;
  };
}

const { frontmatter } = Astro.props as Props;

const formattedProps = {
  title: frontmatter.title,
  href: Astro.url,
  description: frontmatter.subtitle,
  tags: frontmatter.tech,
  accent: frontmatter.color,
  logo: frontmatter.logo,
  backgroundImage: frontmatter.background,
  buttons: projectButtons(
    frontmatter.links?.filter(
      (link: Link) => link.title !== 'Details' && link.title !== 'Case study'
    ),
    Astro.url
  ),
};
---

<html lang="en">
  <head>
    <MainHead
      title={frontmatter.title}
      description="List of projects worked on by Tiger Oakes."
      defaultSocial
    />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <ArticleLayout {...formattedProps}>
      <ProjectHeader {...formattedProps} class="bg-slate-800" slot="header" />
      <slot />
    </ArticleLayout>
  </body>
</html>
