---
import ArticleLayout from '../components/article/ArticleLayout.astro';
import ProjectHeader from '../components/article/ProjectHeader.astro';
import MainHead from '../components/meta/MainHead.astro';
import { dateFromString } from '../scripts/date';
import { PROJECT_PATH } from '../scripts/projects';

const { content } = Astro.props;

const [, projectId] = Astro.canonicalURL.pathname.match(PROJECT_PATH);
const assets = import.meta.glob(
  '../pages/projects/*/{logo,background}.{svg,png,jpg}'
);
async function assetPath(...paths: string[]) {
  for (const path of paths) {
    const importer = assets[path];
    if (importer) {
      const { default: fullPath } = await importer();
      return fullPath;
    }
  }
  return undefined;
}

const formattedProps = {
  title: content.title,
  href: Astro.canonicalURL,
  date: content.date ? dateFromString(content.date) : undefined,
  description: content.subtitle,
  tags: content.tech,
  accent: content.color,
  logo: await assetPath(
    `../pages/projects/${projectId}/logo.svg`,
    `../pages/projects/${projectId}/logo.png`
  ),
  backgroundImage: await assetPath(
    `../pages/projects/${projectId}/background.jpg`
  ),
  buttons: content.links
    ?.filter((link) => link.title !== 'Details' && link.title !== 'Case study')
    ?.map((link) => ({
      title: link.title,
      href: link.link,
    })),
};
---

<html lang="en">
  <head>
    <MainHead title={content.title} />
  </head>

  <body class="bg-slate-800 text-slate-200">
    <ArticleLayout {...formattedProps}>
      <ProjectHeader {...formattedProps} class="bg-slate-800" slot="header" />
      <slot />
    </ArticleLayout>
  </body>
</html>
