{{ $img := $.Page.Resources.Match (.Get "src") }}
{{ range $img }}
{{ if strings.HasSuffix .Name "svg" }}
<img
  class='{{ $.Get "class" | default "center" }}'
  src='{{ .RelPermalink }}'
  alt='{{ $.Get "alt" }}'
  width='{{ $.Get "width" }}'
  height='{{ $.Get "height" }}'
  {{ with $.Get "max-height" }}style="max-height:{{ . }}px;width:auto"{{ end }}
  loading="lazy"
>
{{ else }}
<img
  class='{{ $.Get "class" | default "center" }}'
  src='{{ .RelPermalink }}'
  alt='{{ $.Get "alt" }}'
  width="{{ .Width }}"
  height="{{ .Height }}"
  {{ with $.Get "max-height" }}style="max-height:{{ . }}px;width:auto"{{ end }}
  loading="lazy"
>
{{ end }}
{{ end }}
