@import '../_article';

.post-container {
  max-width: 100vw;
}

.article__body {
  margin-top: -0.5em;
}

pre {
  margin: 1em -1rem;
  position: relative;

  overflow: auto;
  white-space: pre-wrap;
}

code {
  background: rgba(27, 31, 35, 0.05);
  overflow-wrap: anywhere;
}
pre code {
  display: block;
  padding: 1em;

  background: none;
}
pre code::before {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0.25em;

  color: var(--light-color);
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

blockquote {
  margin: 0 0 1em;
  padding: 0 1em;
  color: #626971;
  border-left: 0.25em solid #dfe2e5;
}

.external-link {
  display: block;
  margin: 0 -1em;
  padding: 1em;

  color: inherit;
  border: 1px solid var(--font-color);

  &__logo {
    float: right;
  }
  &__title {
    margin: 0;

    font-size: 1.1em;
  }
  &__source {
    font-size: 0.9em;
  }
}

@media (max-width: 19rem) {
  .article__body {
    padding: {
      left: 1rem;
      right: 1rem;
    }
  }
}
