---
import BannerNav from '../BannerNav.astro';
import Footer from '../Footer.astro';
import ItemTitle from '../lists/ItemTitle.astro';
import SectionTitle from '../lists/SectionTitle.astro';
import MailingListCallToAction from '../MailingListCallToAction.astro';
import CollectionHeader from './CollectionHeader.astro';

export interface Props {
  headerClass?: string;
}

const { headerClass } = Astro.props as Props;
---

<BannerNav />

<header class:list={['max-w-site mx-auto px-4 py-8', headerClass]}>
  <slot name="header" />
</header>
<div
  class="py-8 bg-slate-200 text-slate-800 dark:bg-zinc-800 dark:text-slate-200"
>
  <section class="max-w-site mx-auto px-4">
    <slot />
  </section>
</div>

<MailingListCallToAction />
<Footer />
