---
import BannerNav from '../BannerNav.astro';
import Footer from '../Footer.astro';
import MailingListCallToAction from '../MailingListCallToAction.astro';

export interface Props {
  headerClass?: string;
  sectionClass?: string;
}

const { headerClass, sectionClass } = Astro.props as Props;
---

<BannerNav />

<header class:list={['mx-auto max-w-site px-4 py-8', headerClass]}>
  <slot name="header" />
</header>
<div class="bg-surface text-on-surface py-8">
  <section class:list={['mx-auto max-w-site px-4', sectionClass]}>
    <slot />
  </section>
</div>

<MailingListCallToAction />
<Footer />
