---
import ItemTitle from '../lists/ItemTitle.astro';
import SectionTitle from '../lists/SectionTitle.astro';
import BaseCollectionLayout from './BaseCollectionLayout.astro';

export interface Props {
  collection: string;
  tags: readonly {
    url: string;
    name: string;
  }[];
}

const { collection, tags } = Astro.props as Props;
---

<BaseCollectionLayout>
  <SectionTitle slot="header" class="mb-2">{collection}</SectionTitle>
  <ul class="columns-2">
    {tags.map((tag) => <li class="py-1">
      <ItemTitle href={tag.url}>{tag.name}</ItemTitle>
    </li>)}
  </ul>
</BaseCollectionLayout>
