@import '../_utils';
@import '../_core';
@import '../_effects';
@import '../contact/_main';

.resume {
  color: $dark-text;
  font-size: 11pt;
  background: white;

  max-width: 7.5in;
  padding: 0.5in;
  margin: 2em auto;
}

.resume-header {
  font-size: 11pt;
}
.name {
  font-size: 22pt;
  text-transform: uppercase;
  font-weight: bold;

  margin: 0;
}
.summary {
  font-size: 12pt;
  color: #404040;
  font-style: italic;

  margin: 0 0 8pt;
}
.resume-contact {
  margin: 0 0 8pt;
}

.pipe-list {
  margin: 0 0 8pt;
}
.resume-email,
.resume-github,
.resume-city {
  display: inline-block;
}

a {
  color: inherit;
}

// Heading 1: Section headers
.resume-body h1 {
  font-size: 14pt;

  margin: 0 0 3pt;
  position: relative;

  &::before {
    background: var(--primary-color);

    position: absolute;
    top: -0.025cm;
    left: -0.5cm;
    width: 0.25cm;
    height: 0.65cm;
    content: '';
  }
}

// Heading 2: Job and Project titles
h2 {
  font-size: 12pt;

  margin: 0;
}
.position {
  font-weight: 400;
}

// Heading 4: Dates and URLs
h5 {
  font: {
    weight: 400;
    size: 9pt;
  }
  color: var(--primary-color);

  float: right;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: square;
  line-height: 1.25em;

  margin: 2pt 0 8pt;
  padding: 0 0 0 1em;
  clear: right;
}

// Subtitle
em {
  font: {
    weight: 400;
    size: 10pt;
  }
  color: #5a5a5a;
}

sup {
  font-size: 0.6em;
}

.education {
  margin-bottom: 12pt;
}

.pdf-button {
  color: white;
  background: #cd372d;
  font-weight: bold;
  font-size: 1rem;

  padding: 0.6em 2em;
  margin: 1.5em;

  &::after {
    will-change: opacity;
    content: '';
  }
}

@media (max-width: 6in) {
  .resume {
    padding: 0.3in;
  }
}

@media print {
  .banner-container,
  .cta-wrap,
  .contact {
    display: none;
  }
  .resume {
    box-shadow: none;

    padding: 0;
  }
  body {
    background: transparent;
  }
}
