.logo,
.banner {
	line-height: 4.5rem;
	background: white;
	--text: var(--primary-color);
	color: var(--text);
}

.banner {
	display: flex;
	justify-content: flex-start;
	text-transform: uppercase;
	flex-wrap: wrap;
}

.logo {
	margin: 0;
	font-size: 2.5em;
}
.logo-container {
	color: inherit;
	padding: 0 1em;
	margin-left: auto;
	order: 2;
	text-transform: none;
}
.logo-container:hover {text-decoration: none;}

.whitespace {
	opacity: 0.5;
}
.middot {
	margin: 0 0.3em;
}
.dashlast {
	margin-right: 0.5em;
}

.nav-link {
	color: #212121;
	transition: transform 0.1s ease;
	padding: 0 1.25em;
	will-change: transform;
}
.nav-link::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: -0.2em;
	height: 0.2em;
	transition: opacity 0.1s ease;
	background: var(--text);
	opacity: 0;
	will-change: opacity;
}
.nav-link:hover {
	transform: translateY(-0.2em);
	color: #212121;
	text-decoration: none;
}
.nav-link:hover::after,
.nav-link-active::after {
	opacity: 1;
}

.nav-link-active::after {
	transform: translateY(-0.2em);
	transition: opacity 0.1s ease, transform 0.1s ease;
}
.nav-link-active:hover::after {
	transform: translateY(0);
}

@media (max-width: 46em) {
	.nav-list {
		overflow-y: hidden;
		overflow-x: auto;
		width: 100%;
		white-space: nowrap;
		text-align: center;
	}
}
